.container-fluid
	.download_inner.row
		.wrapper
			.col-xs-12.col-lg-10.col-lg-offset-1
				.download__image.col-xs-8.col-xs-pull-2.col-sm-5.col-sm-pull-0.col-md-4.col-lg-3
					img(src="images/elements/Catalog/journal.png", alt="Каталог ООО Энергомет")
				.download__container.col-sm-7.col-md-8.col-lg-9
					.download__title
						h3 Каталог продукции «ЭнергоМет»
					.download__layer
						button.download__item Скачать каталог
						button.download__item(type="button", data-toggle="modal", data-target="#clientForm") Каталог и чертежи почтой
					
					#clientForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='clientFormLabel')
						.modal-dialog(role='document')
							.modal-content
								form.client-form.toggle-disabled(action="")
									.modal-header
										button.close(type='button', data-dismiss='modal', aria-label='Close')
											span(aria-hidden='true')
										//- h4#clientFormLabel.modal-title Modal title
									.modal-body
										.clearfix
											.client-form__name.col-xs-12.col-sm-6
												label(for="client-name") Ваше имя
												input#client-name.material.validate(type="text", name="client-name", data-validation-event="keyup", data-validation="required", data-validation-error-msg="Введите имя")
											.client-form__phone.col-xs-12.col-sm-6
												label(for="client-phone") Телефон
												input#client-phone.material.validate.form-phone(type="text", name="client-phone", data-validation-event="keyup", data-validation="required length", data-validation-length="min11", data-validation-error-msg="Введите номер телефона для связи с вами")

									.modal-footer
										.client-form__checkbox.col-xs-12.col-sm-6
											.col-xs-6
												input#email-catalog(type="checkbox", name="catalog")
												label(for="email-catalog") Каталог
											.col-xs-6
												input#email-draws(type="checkbox", name="draws")
												label(for="email-draws") Чертежи
										.client-form__button.col-xs-12.col-sm-6
											//- button.btn.btn-default(type='button', data-dismiss='modal') Close
											button(type='button') Получить
