@import "meta/variables"

.modal
	&-content
		padding: 3rem
	&-header
		padding: 0
		border: none
		button
			span
				position: relative
				display: block
				height: 4rem
				width: 4rem
				&:before,
				&:after
					position: absolute
					content: ''
					top: 50%
					height: 2px
					width: 100%
					left: 0
					right: 0
					background-color: $light-indigo

				&:before
					transform: translateY(-50%) rotate(-45deg)
				&:after
					transform: translateY(-50%) rotate(45deg)
	&-body
		@media (min-width: $screen-md-min)
			margin-bottom: 2rem
	&-footer
		border: none
		padding: 0
		text-align: left
		@media (min-width: $screen-md-min)
			padding: 15px 0
		button
			// width: 27rem
			// height: 5.9rem
			border-radius: 10rem
			background-image: linear-gradient(to right, $pinky-purple, $deep-sky-blue)
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2)
			color: $white
			text-align: center
			width: 100%
			height: 4.9rem
			@media (min-width: $screen-md-min)
				padding: 1.6rem 7rem
				height: auto
				width: auto

	&-title


.client-form,
.contact-form
	margin: -1rem -2rem
	@media (min-width: $screen-md-min)
		margin: initial
	&__name,
	&__phone
		margin-bottom: 3rem
		@media (min-width: $screen-sm-min)
			margin-bottom: initial
	&__name,
	&__phone,
	&__email,
	&__text
		position: relative
		text-align: center
		padding: 0
		height: 4rem
		&:after
			position: absolute
			content: ''
			left: 0
			right: 0
			bottom: 0
			height: 1px
			background-color: $dark-slate-blue-two
			opacity: .5

		label
			position: absolute
			top: 50%
			transform: translateY(-50%)
			color: $dark-slate-blue
			font-size: 1.15em
			font-weight: normal
			left: 0
			right: 0
			opacity: 1
			transition: top .3s, font-size .3s, opacity .3s
			cursor: text

		input,
		textarea
			background: transparent
			border: none
			box-shadow: none
			height: 100%
			outline: 0
			text-align: center
			width: 100%

		&.active
			&:after
				opacity: 1
			label
				top: -15%
				font-size: 10px
				opacity: .8

	&__name
		@media (min-width: $screen-sm-min)
			// margin-bottom: initial
			padding-right: 2rem
		&:after
			@media (min-width: $screen-sm-min)
				right: 2rem
		label
			@media (min-width: $screen-sm-min)
				right: 2rem
	&__phone
		@media (min-width: $screen-sm-min)
			padding-left: 2rem
		&:after
			@media (min-width: $screen-sm-min)
				left: 2rem
		label
			@media (min-width: $screen-sm-min)
				left: 2rem
	&__email
		// margin-top: 1.5rem
		padding-right: 0
		@media (min-width: $screen-sm-min)
			&_current
				margin-top: 3rem
				margin-bottom: -2rem
		&:after
			right: 0
		label
			right: 0
	&__checkbox
		white-space: nowrap
		line-height: 5rem
		padding: 0
		margin-bottom: 2rem
		// @media (min-width: $screen-xs-landscape-min)

		@media (min-width: $screen-sm-min)
			padding: initial
			margin-bottom: initial
		label
			$size: 3rem
			cursor: pointer
			position: relative
			padding-left: $size + .75rem
			margin-right: 2rem
			color: $dark-slate-blue
			font-weight: normal
			line-height: 1.25
			&:before
				content: ""
				display: inline-block

				width: $size
				height: $size
				border-radius: 50%

				margin-right: 10px
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
				border: solid 2px #bbb7cb

		input[type="checkbox"]
			display: none
			&:checked + label:before
				content: "\2713"
				// text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
				font-size: 1.2em
				color: $light-indigo
				text-align: center
				// line-height: 2.5em

	&__button

		// height: 4.9rem
		// padding: 0
		@media (min-width: $screen-md-min)
			// height: initial
			text-align: right
		&_knowPrice
			margin-top: 1rem
			text-align: center
.modal-backdrop
	background-color: $dark-slate-blue
	&.in
		opacity: .8
