@import "meta/variables"

.our-header
	background-color: transparent
	background-image: linear-gradient(to right, rgba($warm-purple, .9), rgba($water-blue, .9))
	overflow: hidden
	position: relative
	&_inner
		// opacity: .9
		// background-color: rgba(transparent, .9)
		background-image: linear-gradient(to right, rgba($warm-purple, .9), rgba($water-blue, .9))
		.menu
			&__item
				&:last-child
					margin-bottom: 0