@import "meta/variables"

.error
	background-color: rgba($white, .95)
	background-image: linear-gradient(to top, rgba($white, .95), rgba(white, 0))
	&__title
		background-image: linear-gradient(to right, $warm-purple, $water-blue)
		font-size: 8.75em
		font-weight: bold
		text-align: center
		-webkit-background-clip: text
		background-clip: text
		-webkit-text-fill-color: transparent
		@media (min-width: $screen-sm-min)
			margin-top: 2rem
	&__description
		margin-bottom: 2rem
		@media (min-width: $screen-sm-min)
			margin-top: 7rem
		@media (min-width: $screen-md-min)
			margin-top: 3.5rem