@import "meta/variables"

.wrapper
	width: 100%
	margin: 0 auto
	// max-width: 1440px
	@media (min-width: $screen-sm-min)
		max-width: 700px
	@media (min-width: $screen-md-min)
		max-width: 920px
		line-height: 1
	@media (min-width: $screen-lg-min)
		max-width: 1160px

h2
	color: $dark-slate-blue
	font-size: 30px
	margin-bottom: 2rem
p
	line-height: 1.5
	color: $dark-blue-grey
	font-size: 1em

img
	max-width: 100%

button
	border: none
	outline: none

.divider
	margin: 3rem 0
	width: 100%
	height: 1px
	background-color: rgba($light-indigo, .3)

.vcenter
	display: inline-block
	vertical-align: middle
	float: none

.help-block
	font-size: 10px

.inner__background
	background: url(../images/elements/image_bg.png) 0 0 no-repeat
	background-size: 120% auto
	@media (min-width: $screen-sm-min)
		background-size: cover
	// @media (min-width: $screen-md-min)

.pagination-area
	text-align: center

.page-inner
	h2
		font-size: 1em
		line-height: 1.35
		@media (min-width: $screen-sm-min)
			font-size: 1.375em
		@media (min-width: $screen-md-min)
			font-size: 1.5em
	p
		font-size: .75em
		@media (min-width: $screen-md-min)
			font-size: 1em
		

@import "header/header"
@import "header/topbar/topbar"
@import "menu/menu"
@import "breadcrumb/breadcrumb"
@import "header/slider/slider"
@import "header/slider/lightSlider"
@import "search/search"
@import "modal/modal"
@import "contact/contact"
@import "contact/contact-form"
@import "download/layer"

@import "main/about"
@import "main/products"
@import "main/exploitation"
@import "main/certificates"

@import "news/news"

@import "product/product"
@import "partners/partners"
@import "energetica/energetica"

@import "map/map"
@import "footer/footer"

@import "404"