
// @font-face
// 	font-family: 'socpak'
// 	src: url('#{$font-path}/socpak.eot?6iuks')
// 	src: url('#{$font-path}/socpak.eot?6iuks#iefix') format('embedded-opentype'), url('#{$font-path}/socpak.ttf?6iuks') format('truetype'), url('#{$font-path}/socpak.woff?6iuks') format('woff'), url('#{$font-path}/socpak.svg?6iuks#socpak') format('svg')
// 	font-weight: normal
// 	font-style: normal

// cyrillic
@font-face
	font-family: 'Noto Sans'
	font-style: normal
	font-weight: 400
	src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v6/iLJc6PpCnnbQjYc1Jq4v0xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2')
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

@font-face
	font-family: 'Noto Sans'
	font-style: normal
	font-weight: 700
	src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ15X5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2')
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

// Latin
@font-face
	font-family: 'Noto Sans'
	font-style: normal
	font-weight: 400
	src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2')
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

@font-face
	font-family: 'Noto Sans'
	font-style: normal
	font-weight: 700
	src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1-gdm0LZdjqr5-oayXSOefg.woff2) format('woff2')
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215