$icon-font-path: '../fonts/'
$grid-float-breakpoint: 1024px
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic)
// @import 'font'

// bower:scss
@import bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss
// endbower

.browserupgrade
	margin: 0.2em 0
	background: #ccc
	color: #000
	padding: 0.2em 0

*
	&:before,
	&:after
		box-sizing: border-box

html
	// min-width: 320px
	// max-width: 2560px
	margin: 0 auto
	// font-family: 'HarmoniaSansProCyr', 'Open Sans', sans-serif
	// font-family: 'HarmoniaSansProCyr'
	font-weight: normal // line-height: 1em
body
	// overflow-x: hidden
	// min-width: 1024px
	font-size: 16px
	font-family: 'Noto Sans', 'Open Sans', sans-serif
html,
body
	height: 100%

@import _config.sass

/* Responsive: Portrait tablets and up */

// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }
//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }
//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }
