.search
	.search__wrapper.wrapper
		form.search__form.row.clearfix(action="")
			.search__input.col-xs-9
				label(for="search") Поиск по каталогу
				input#search.material(type="text", name="search")
			.search__button.col-xs-3
				button(type="submit")
					span.button-text Найти
					span.glyphicon.glyphicon-search