@import 'meta/variables'

.menu
	// outline: 1px solid red
	list-style: none
	padding-left: 0
	text-align: center
	margin-top: 1.25rem
	@media (min-width: $screen-sm-min)
		margin-top: 0
		// text-align: right
	@media (min-width: $screen-lg-min)
		display: inline-block
		float: right !important
		margin-right: 23rem

	&__item
		display: inline-block
		padding: 0
		white-space: nowrap
		@media (min-width: $screen-sm-min)
			padding: .5rem 1rem
		@media (min-width: $screen-md-min)
			padding: 0
		// @media (min-width: $screen-lg-min)
		// 	padding: 1em 2em
		&:last-child
			margin-bottom: 6rem
			@media (min-width: $screen-md-min)
				margin-bottom: 0
		a
			color: $white !important
			font-size: 1em
			@media (min-width: $screen-md-min)
				padding: 0 15px !important
				height: 5.6rem
				line-height: 5.6rem !important
			@media (min-width: $screen-lg-min)
				height: 11.75rem
				line-height: 11.75rem !important
