//- ul.menu
//- 	li.menu__item
//- 		a(href="#") Продукция
//- 	li.menu__item
//- 		a(href="#") О нас
//- 	li.menu__item
//- 		a(href="#") Статьи и обзоры
//- 	li.menu__item
//- 		a(href="#") Контакты


ul.nav.navbar-nav.menu
	li.menu__item
		a(href='product.html', title='Продукция') Продукция
	li.menu__item
		a(href='#', title='О нас', data-scroll='') О нас
	li.menu__item
		a(href='#', title='Статьи и обзоры', data-scroll='') Статьи и обзоры
	li.menu__item
		a(href='contact.html', title='Контакты', data-scroll='') Контакты
