//- .topbar.wrapper
//- 	.row
//- 		.col-md-3.logo
//- 			img(src="images/logo.png", alt="")
//- 		.col-md-7
//- 			include menu/menu.pug
//- 		.col-md-2.phone
//- 			span 8 (343) 287-94-27

.topbar.topbar_inner
	.wrapper
		nav#top-header.navbar.navbar-default.header
			.navbar-header
				button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#top-menu', aria-expanded='false')
					span.glyphicon.glyphicon-menu-hamburger
					span.sr-only Button for navigation for mobile device
				button#icon-search.navbar-toggle.collapsed.visible-xs-block(data-toggle='collapse', data-target='#top-search', aria-expanded='false')
					span.glyphicon.glyphicon-search
					span.glyphicon.glyphicon-remove
					span.sr-only Button for searchig for mobile device

				a.navbar-brand(href='/', title='«Энергомет»')
					img.header__logo(src="images/logo.png", alt='«Энергомет»')
			#top-search.collapse.navbar-collapse
				include search/search-form
			#top-menu.collapse.navbar-collapse
				include menu/menu
			#phone-section.nav.navbar-nav.navbar-right
				.phone-desktop.visible-sm-block.visible-md-block.visible-lg-block
					span 8 (343) 287-94-27
				.phone-mobile.visible-xs-block
					a(href='tel:+73432879427', title='Позвонить в компанию «Энергомет»')
						span.glyphicon.glyphicon-earphone