@import "meta/variables"

.contact
	&__wrapper
		background-color: rgba($white, .97)
	&__form
		overflow: hidden
		@media (min-width: $screen-md-min)
			padding: 3rem 0rem 3rem 2rem
	&__data
		margin-top: 5rem
		color: $dark-slate-blue
		@media (min-width: $screen-sm-min)
			margin-top: 0
			padding: 3rem 2rem 3rem 0rem
	&__title
		text-align: center
		font-size: 1.25em
		color: $dark-slate-blue
		margin-bottom: 3rem
		@media (min-width: $screen-sm-min)
			font-size: 1.5em
			text-align: left
		@media (min-width: $screen-sm-min)
			padding-left: 0.5em

	&__item
		margin-bottom: 2rem
		height: 100%
		display: table
		width: 100%
		@media (min-width: $screen-sm-min)
			width: 50%
			float: left
		@media (min-width: $screen-md-min)
			width: 100%
			margin-bottom: 3rem
		&_address
			.description
				@media (min-width: $screen-sm-min)
					padding-right: 5rem
					line-height: 1.75
				@media (min-width: $screen-md-min)
					padding-right: 0rem
		&_phohes
		&_emails
		&_workhours

		.icon,
		.description
			display: table-cell
		.icon
			padding-right: 0
			// padding-left: 0
		.description

.contact-phone
	display: block
	// color: $dark-slate-blue
	// &__item
	// 	margin-bottom: 1rem
	// 	&:last-child
	// 		margin-bottom: 0
	
	&__number
		font-size: 1em
	&__description
		font-style: italic
		font-size: .85em
		color: $twilight

.contact-phone,
.contact-workhours,
.contat-email
	&__item
		margin-bottom: 1rem
		&:last-child
			margin-bottom: 0