@import "meta/variables"

.contact-form
	margin-left: 2rem
	margin-right: 2rem
	overflow: hidden
	padding-top: 2rem
	padding-bottom: 2rem
	&__title
		h2
			margin: 8rem 2rem 2rem
			font-size: 1.25em
			text-align: right
			line-height: 1.25
			@media (min-width: $screen-sm-min)
				margin-top: 6rem
				font-size: 1.5em
			@media (min-width: $screen-md-min)
				margin-top: 0;
				font-size: 1.5em;
				margin-bottom: 0;
	&__name,
	&__phone,
	&__email,
	&__text
		margin-bottom: 3rem
		label
			text-align: left
			margin-left: 3rem
			font-size: 1em
		input
			text-align: left
			padding: 0 .5rem
	&__name
		@media (min-width: $screen-sm-min)
			padding-right: 0
		&:after
			@media (min-width: $screen-sm-min)
				right: 0

		label
			@media (min-width: $screen-sm-min)
				right: 0

	&__phone
		@media (min-width: $screen-sm-min)
			padding-left: 0
			padding-right: 2rem
		&:after
			@media (min-width: $screen-sm-min)
				left: 0
				right: 2rem
		label
			@media (min-width: $screen-sm-min)
				left: 0
				right: 2rem
	&__email
	&__text
		min-height: 4rem
		height: auto
		label
			top: 0
			transform: translateY(0%)
		textarea
			height: 10rem
			text-align: left
			resize: none
	&__button
		padding-right: 0
		// margin-top: 2rem
		text-align: right
		@media (min-width: $screen-sm-min)
			margin-right: 3rem

		button
			background-color: transparent
			border: none
			outline: none
			color: $dark-slate-blue
			font-size: 1em
		span
			color: $dark-slate-blue-two
			margin-left: .5em