@import "meta/variables"

.energetica
	background-color: rgba($white, .95)
	background-image: linear-gradient(to top, rgba($white, .95), rgba(white, 0))
	padding-top: 3rem
	padding-bottom: 3rem
	&__item
		margin-bottom: 2rem
	&__title
		margin-bottom: 1rem
		h2
			text-align: center
	&__name
		text-align: center
		font-size: 1em
		color: $dark-slate-blue
		padding: 1em 0
		@media (min-width: $screen-sm-min)
			font-size: 1.35em

	&__wrapper
		position: relative
		// margin-bottom: 2rem
		// box-shadow: 0 2px 2px 0 rgba(black, .25)
		// background-color: $white
		z-index: 1
	&__image
		background-color: $white
		box-shadow: 0 2px 2px 0 rgba(black, .25)
		max-height: 25rem
		overflow: hidden
		img
			max-width: initial
			height: 25rem
			// object-fit: cover
			// height: 100%
			// width: 100%
	&__shadow
		position: absolute
		background-color: $light-indigo
		top: -0.3rem
		left: .3rem
		// width: $image-size_xs
		// height: $image-size_xs
		height: 100%
		width: 100%
		z-index: -2
		@media (min-width: $screen-sm-min)
			// width: $image-size_sm
			// height: $image-size_sm
			top: -0.5rem
			left: .5rem