@import 'meta/variables'

.our-header_inner
	.topbar
		opacity: 1
		&_inner
			margin-bottom: 0
			position: static
			@media (min-width: $screen-md-min)
				margin-bottom: 2rem
	.title
		text-align: center
		h1
			color: $white
			font-size: 1.25em
			font-weight: bold
			margin-top: 1rem
			opacity: 1
			@media (min-width: $screen-sm-min)
				font-size: 1.5em
				margin-top: 0
				padding-bottom: 3rem
	#top-search
		@media (min-width: $screen-sm-min)
			display: none !important

.topbar
	// position: absolute
	// top: 0
	// right: 0
	// left: 0
	margin-bottom: -6rem
	z-index: 2
	@media (min-width: $screen-lg-min)
		// margin-bottom: -11.75rem
		margin-bottom: 0
		margin-bottom: 0
		position: absolute
		top: 0
		left: 0
		right: 0

.logo
	// outline: 1px solid green
	padding-left: 0
	padding-right: 0
	// img

.phone
	// outline: 1px solid blue
	color: $white
	font-size: 1.3em
	font-weight: bold
	padding: 1.2rem 0
	text-align: right
	white-space: nowrap
	margin-top: 1.25rem

.navbar
	border: none
	border-radius: 0 !important
	min-height: initial !important
	margin-bottom: 0 !important
	background: transparent
	position: relative
	z-index: 100
	// line-height: 0
	&-header
		@media (min-width: $screen-lg-min)
			position: absolute
			left: 0
			top: 0
	&-nav
		float: none !important

	&-brand
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
		height: auto
		padding: 0
		@media (min-width: $screen-sm-min)
			left: 15px
			top: 0%
			transform: translateX(0)
		@media (min-width: $screen-md-min)
			position: static
			display: inline-block
		img
			// @media (min-width: $screen-md-min)
			height: 4.6rem
			@media (min-width: $screen-xs-landscape-min)
				height: 5.6rem
			@media (min-width: $screen-lg-min)
				height: 12rem

	&-toggle
		margin: 0
		border: none !important

		font-size: 1.25em
		color: $white
		@media (min-width: $screen-xs-landscape-min)
			font-size: 1.75em
			padding-bottom: .2em
			padding-top: .35em
		&:hover,
		&:focus
			background-color: transparent !important
		span
			// vertical-align: middle

		.glyphicon-search
			display: none
		.glyphicon-remove
			display: inline-block
		&.collapsed

			.glyphicon-search
				display: inline-block
			.glyphicon-remove
				display: none


	&-collapse
		border: none
		&.in
			@media (min-width: $screen-md-min) and (max-width: $grid-float-breakpoint - 1px)
				margin-bottom: 6rem
	#top-search
		.search
			padding-top: 2rem
	#phone-section
		position: absolute
		left: 0
		top: 0
		margin: 0
		font-size: 1.25em
		padding: 9px 10px
		@media (min-width: $screen-xs-landscape-min)
			font-size: 1.75em
		@media (min-width: $screen-sm-min)
			left: initial
			right: 6rem
			// left: 50%
			// transform: translateX(-50%)
		@media (min-width: $screen-lg-min)
			position: absolute
			top: 50%
			right: 0
			transform: translateY(-50%)
		.phone-mobile
			a
				color: $white
		.phone-desktop
			color: $white
			font-weight: bold
			font-size: .65em
			padding-top: .7rem
			@media (min-width: $grid-float-breakpoint)
				padding-top: 0.5em
			@media (min-width: $screen-lg-min)
				font-size: .86em
				padding-top: 0
.topbar_inner
	.search
		background: none
