@import 'meta/variables'

.our-breadcrumb
	@media (min-width: $screen-sm-min)
		padding: 2.1rem 2rem 3rem 1.75rem
	.breadcrumb
		opacity: 1
		background: none
		& > li + li:before
			color: $white
			content: '\02192'
			padding-right: 1rem
		.active
			color: $white
			font-size: .8em
		a
			color: $white
			font-size: .8em