@import "meta/variables"

.about
	margin-top: 1rem
	padding: 0
	@media (min-width: $screen-sm-min)
		margin-top: 5rem
	@media (min-width: $screen-md-min)
		margin-top: 9rem
	&_page
		background-color: rgba($white, .95)
		background-image: linear-gradient(to top, rgba($white, .95), rgba(white, 0))
		padding-bottom: 3rem
		.about
			// @media (min-width: $screen-md-min)
			// 	margin-top: 4rem
			@media (min-width: $screen-md-min)
				margin-top: 4rem
			&__features
				margin-top: 3rem
			&__part
				@media (min-width: $screen-md-min)
					margin-bottom: 2rem
			h2
				font-size: 1em
				@media (min-width: $screen-sm-min)
					font-size: 1.375em
				@media (min-width: $screen-md-min)
					font-size: 1.5em
			p
				font-size: .75em
				@media (min-width: $screen-md-min)
					font-size: 1em

	&__features
		margin-top: 6rem
		padding: 0
		@media (min-width: $screen-sm-min)
			margin-top: initial
	&__text
		position: relative
		z-index: 1
		padding: 0
		@media (min-width: $screen-sm-min)
			padding-left: 15px
			padding-right: 15px
			margin-bottom: 8rem
		.shadow
			border-radius: 2.5rem
			background-color: $light-indigo
			position: absolute
			
			z-index: -1
			left: 30px
			bottom: 1rem
			@media (min-width: $screen-sm-min)
				top: -.5rem
				right: .9rem
			@media (min-width: $screen-lg-min)
				top: -1rem
				right: .4rem
				width: 35rem
				height: 35rem
				left: initial
				bottom: initial
.features
	// margin: 0 -15px
	color: $dark-blue-grey
	&__item
		margin-bottom: 4rem
		text-align: center
		padding: 0 5px
		@media (min-width: $screen-sm-min)
			padding: 0 15px
	&__icon
		margin-bottom: 2rem
		padding: 0
		svg,
		img
			width: 7.5rem
			height: 7.5rem
			@media (min-width: $screen-sm-min)
				width: 8rem
				height: 8rem
			@media (min-width: $screen-md-min)
				width: 11rem
				height: 11rem
	&__description
		padding: 0
		font-size: .875em
		line-height: 1.25em
		@media (min-width: $screen-md-min)
			font-size: 1em

.text-about
	box-shadow: 0 2px 2px 0 rgba(black, .2)
	padding: 0rem 2rem 3rem
	margin: 0rem -15px
	color: $dark-blue-grey
	background: $white
	@media (min-width: $screen-sm-min)
		padding: 2rem 6rem 5rem
		margin: initial
		border-radius: 20px
	@media (min-width: $screen-lg-min)
		background: $white url(../images/logo-gray.png) right top no-repeat
		background-size: 55%
	&__area
		// z-index: 2
		h2
			font-size: 20px
			font-weight: bold
			// @media (min-width: $screen-sm-min)
		// 	color: $dark-slate-blue
		// 	font-size: 30px
		// 	margin-bottom: 2rem
		p
			font-size: .9em
			line-height: 1.7

		// 	line-height: 1.5
		// 	color: $dark-blue-grey
		// 	font-size: 1em

	&__detail
		background-image: linear-gradient(to right, $pinky-purple, $deep-sky-blue)
		border-color: $warm-purple
		border-radius: 10rem
		border-style: solid
		border-width: 0
		bottom: 0
		box-shadow: 0 2px 2px 0 rgba(black, .2)
		color: $white
		font-size: 1em
		left: 50%
		height: 4.9rem
		padding: 0
		position: absolute
		transform: translateX(-50%) translateY(50%)
		transition: background .3s, color .3s
		width: 27rem
		@media (min-width: $screen-md-min)
			font-size: 1.25em
			// height: 6rem
		@media (min-width: $screen-lg-min)
			font-size: 1em
			height: 6rem
		&:hover
			background: $white
			border-width: 2px
			color: $warm-purple


// .shadow
// 	width: 35rem
// 	height: 35rem
// 	border-radius: 2.5rem
// 	background-color: $light-indigo
// 	position: absolute
// 	top: -1rem
// 	right: .4rem
// 	z-index: -1
// 	display: none
// 	@media (min-width: $screen-sm-min)
// 		display: initial