@import "meta/variables"

.cert-background
	@media (min-width: $screen-md-min)
		background: $white url(../images/logo-gray.png) right top no-repeat
		background-size: auto 100%
		margin-left: -15px
		margin-right: -15px
.certificates
	padding-top: 1rem
	padding-bottom: 3rem
	@media (min-width: $screen-md-min)
		padding-top: initial
		padding-bottom: 6rem
	&__wrapper
		margin: 0 -15px
		@media (min-width: $screen-md-min)
			margin: initial
	&__title
		margin-top: -20px
		margin-bottom: 1.5rem
		@media (min-width: $screen-md-min)
			margin-bottom: 5.8rem
			margin-top: initial
		h2
			font-size: 1.25em
			font-weight: bold
			text-align: center
			@media (min-width: $screen-md-min)
				font-size: 1.4em
			@media (min-width: $screen-lg-min)
				font-size: 1.9em
	&__item
		text-align: center
		padding: 1rem 0
		margin-bottom: 1rem
	&__image
		position: relative
		z-index: 1
		display: inline-block
		box-shadow: 0 1px 2px 0 rgba(black, .2)
		margin: .75rem
		$image-size: 29rem
		max-height: $image-size
		&:after
			$size: 4px
			content: ''
			position: absolute
			top: -$size
			bottom: $size
			left: $size
			right: -$size
			background-color: $light-indigo
			z-index: -1
		img
			// width: 100%
			max-width: none
			height: $image-size
