@import "meta/variables"

$image-size_xs: 12rem
$image-size_sm: 16rem
$image-size_md: 18rem

.background-image
	background: url(../images/background-roof.jpg) 0 0 no-repeat
	background-size: cover
	padding-bottom: 1rem
	padding-top: 1rem
	margin-left: -15px
	margin-right: -15px
	// @media (min-width: $screen-md-min)
	// 	margin-left: -15px
	// 	margin-right: -15px

.products
	margin-bottom: 4rem
	overflow: hidden
	padding-top: .5rem
	@media (min-width: $screen-md-min)
		margin-top: 0
	@media (min-width: $screen-lg-min)
		margin-top: 3rem
		margin-bottom: 5rem
	&_inner
		background-color: rgba($white, .95)
		background-image: linear-gradient(to top, rgba($white, .95), rgba(white, 0))

		// @media (min-width: $screen-xs-min)
			// margin-top: 4rem
		padding-top: 4rem
		@media (min-width: $screen-sm-min)
			padding-top: 5rem
		@media (min-width: $screen-md-min)
			padding-top: 6rem
		.products
			@media (min-width: $screen-lg-min)
				margin-top: 6rem
				margin-bottom: 13rem
			&__area
				margin-left: 0
			&__description
				padding-right: 0
				padding-left: 3rem
		&_1
			.products
				&__item
					margin-bottom: 4rem
				&__title
					@media (min-width: $screen-md-min)
						font-size: 1.625em
					@media (min-width: $screen-lg-min)
						font-size: 1.1em
						line-height: 1.2
						margin-bottom: 2rem
				&__text
					font-size: 0.75em
					color: $dark-slate-blue
					@media (min-width: $screen-md-min)
						font-size: 0.85em
						line-height: 1.15
					@media (min-width: $screen-lg-min)
						font-size: 16px
		&_2
			.products
				@media (min-width: $screen-lg-min)
					// margin-bottom: 8rem
					margin-bottom: 4rem
				&__item
					margin-bottom: 3rem
					@media (min-width: $screen-sm-min)
						margin-bottom: 4rem
				&__description
					// height: 4.5rem
					@media (min-width: $screen-sm-min)
						padding-left: 0
						padding-right: 0
						font-size: 1.25em
						text-align: center
					@media (min-width: $screen-md-min)
						text-align: left
						padding-left: 3rem
						
				&__title
					@media (min-width: $screen-lg-min)
						font-size: 1.3em
						margin-bottom: 2.5rem
				&__text
					font-size: 12px
					color: $dark-slate-blue
					text-align: left
					line-height: 1.2
					@media (min-width: $screen-lg-min)
						font-size: .7em
				&__image
					&-wrapper
						@media (min-width: $screen-sm-min)
							margin: 0 auto 1rem
		&_current
			padding-top: 0
			.products
				&__components
					&:before
						display: none
				&__title
					h2
						text-align: left
				&__description
					// @media (min-width: $screen-md-min)
					font-size: 1.25em
	&__components
		position: relative
		margin-top: 6rem
		&:before
			content: ''
			position: absolute
			top: -3rem
			width: 100%
			height: 1px
			background-color: rgba($light-indigo, .3)
		.products
			&__title
				margin-bottom: 2.5rem
				@media (min-width: $screen-sm-min)
					margin-bottom: 4.5rem
				h2
					font-size: 1em
					font-weight: normal
					// text-align: left
					color: $dark-slate-blue
					@media (min-width: $screen-sm-min)
						font-size: 1.5em

	&__title
		// margin-top: -20px
		margin-bottom: 1.5rem
		@media (min-width: $screen-lg-min)
			margin-bottom: 5.8rem
			margin-top: initial
		h2			
			font-weight: bold
			font-size: 1.25em
			line-height: 1.2em
			@media (min-width: $screen-md-min)
				font-size: 1.9em
				text-align: center
			@media (min-width: $screen-lg-min)
				font-size: 1.4em
	&__area
		padding: 0
		margin-left: 15px
		@media (min-width: $screen-sm-min)
			margin-left: initial
	&__item
		padding-left: 0
		// padding-right: 2rem
		@media (min-width: $screen-sm-min)
			text-align: right
	&__image
		z-index: 2
		&_square
			// position: relative
			display: inline-block
			background-color: $white
			box-shadow: 0 2px 2px 0 rgba(black, .2)
			height: $image-size_xs
			width: $image-size_xs
			z-index: 1
			overflow: hidden
			// @media (min-width: $screen-sm-min)
			// 	// margin-left: 0
			// 	// padding-left: 0
			// 	height: $image-size_sm
			// 	width: $image-size_sm
			@media (min-width: $screen-md-min)
				height: $image-size_md
				width: $image-size_md
		&_circle
			background-color: $white
			border-radius: 50%
			box-shadow: 0 2px 2px 0 rgba(black, .2)
			height: $image-size_xs
			overflow: hidden
			padding-left: 0
			padding-right: 0
			width: $image-size_xs
			@media (min-width: $screen-sm-min)
				margin-bottom: initial
				// height: $image-size_sm
				// width: $image-size_sm
			@media (min-width: $screen-md-min)
				// margin-bottom: initial
				height: $image-size_md
				width: $image-size_md
		&-wrapper
			margin: 0 auto 1.5rem
			position: relative
			height: $image-size_xs
			width: $image-size_xs
			z-index: 1
			// overflow: hidden
			@media (min-width: $screen-sm-min)
				margin-left: 0
				padding-left: 0
				// height: $image-size_sm
				// width: $image-size_sm
			@media (min-width: $screen-md-min)
				height: $image-size_md
				width: $image-size_md
		img
			opacity: .85
	&__shadow
		border-radius: 50%
		position: absolute
		background-color: $light-indigo
		top: -0.3rem
		left: .3rem
		width: $image-size_xs
		height: $image-size_xs
		z-index: -2
		@media (min-width: $screen-sm-min)
			// width: $image-size_sm
			// height: $image-size_sm
			top: -0.5rem
			left: .5rem
		@media (min-width: $screen-md-min)
			width: $image-size_md
			height: $image-size_md
		&_square
			border-radius: 0
	&__description
		// padding-top: $image-size / 2
		color: $dark-slate-blue
		font-size: 1em
		text-align: center
		// @media (min-width: $screen-xs-landscape-min)
		@media (min-width: $screen-sm-min)
			text-align: left
		// @media (min-width: $screen-md-min)

		@media (min-width: $screen-lg-min)
			text-align: left
			font-size: 1.5em
			padding-left: 3rem