@import "meta/variables"

.map
	// background-color: grey
	height: 25rem
	padding: 0 !important
	z-index: 1
	// margin-bottom: -7.25em
	position: relative
	overflow: hidden
	&:after
		content: ''
		background-image: linear-gradient(to right, $warm-purple, rgba(94, 65, 149, 0.38) 19%, rgba(47, 93, 180, 0.29) 85%, $water-blue)
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: 2
	@media (min-width: $screen-sm-min)
		height: 36rem
	@media (min-width: $screen-md-min)
		height: 40rem
	// @media (min-width: $screen-lg-min)
	// 	height: 45rem
	&__area,
	#map-canvas
		height: 100%
		width: 100%