.slider
	//- RESPONSIVE SLIDER - START
	//- .responsive-slider(data-spy='responsive-slider', data-autoplay='true', data-interval='5000', data-transitiontime='300')
	.responsive-slider()
		.slides(data-group='slides')
			ul
				li
					.slide-body.slider-body(data-group='slide')
						img(src='images/slider/bottom-layer-image.jpg')
						//- .caption(data-animate='slideAppearRightToLeft', data-delay='500', data-length='300')
						//- 	h2
						//- 		i.icon-gift
						//- 		| Responsive slider
						//- 	.caption(data-animate='slideAppearLeftToRight', data-delay='800', data-length='300') With one to one swipe movement!
						.slider-body__layer
						.slider-body__wrapper.wrapper
							.slider-body__text
								.text
									.text__title(data-animate='slideAppearLeftToRight', data-delay='500', data-length='600') Устройства крепления кабеля
									.text__description(data-animate='slideAppearUpToDown', data-delay='700', data-length='600') серия КА и КА3

						.slider-body__image
							img(data-animate='slideAppearRightToLeft', data-delay='200', data-length='800' src="images/slider/upper-layer-image.png", alt="")
				li
					.slide-body.slider-body(data-group='slide')
						img(src='images/slider/bottom-layer-image.jpg')
						//- .caption(data-animate='slideAppearRightToLeft', data-delay='500', data-length='300')
						//- 	h2
						//- 		i.icon-gift
						//- 		| Responsive slider
						//- 	.caption(data-animate='slideAppearLeftToRight', data-delay='800', data-length='300') With one to one swipe movement!
						.slider-body__layer
						.slider-body__wrapper.wrapper
							.slider-body__text
								.text
									.text__title(data-animate='slideAppearLeftToRight', data-delay='500', data-length='600') Устройства крепления кабеля
									.text__description(data-animate='slideAppearUpToDown', data-delay='700', data-length='600') серия КА и КА3

						.slider-body__image
							img(data-animate='slideAppearRightToLeft', data-delay='200', data-length='800' src="images/slider/upper-layer-image.png", alt="")
				li
					.slide-body.slider-body(data-group='slide')
						img(src='images/slider/bottom-layer-image.jpg')
						//- .caption(data-animate='slideAppearRightToLeft', data-delay='500', data-length='300')
						//- 	h2
						//- 		i.icon-gift
						//- 		| Responsive slider
						//- 	.caption(data-animate='slideAppearLeftToRight', data-delay='800', data-length='300') With one to one swipe movement!
						.slider-body__layer
						.slider-body__wrapper.wrapper
							.slider-body__text
								.text
									.text__title(data-animate='slideAppearLeftToRight', data-delay='500', data-length='600') Устройства крепления кабеля
									.text__description(data-animate='slideAppearUpToDown', data-delay='700', data-length='600') серия КА и КА3

						.slider-body__image
							img(data-animate='slideAppearRightToLeft', data-delay='200', data-length='800' src="images/slider/upper-layer-image.png", alt="")

		//- a.slider-control.left(href='#', data-jump='prev')
		//- 	i.icon-angle-left
		//- a.slider-control.right(href='#', data-jump='next')
		//- 	i.icon-angle-right
		//- .pages
		//- 	a.page(href='#', data-jump-to='1') 1
		//- 	a.page(href='#', data-jump-to='2') 2
		//- 	a.page(href='#', data-jump-to='3') 3
	//- RESPONSIVE SLIDER - END

.download.wrapper
	.download__layer
		button.download__item Скачать каталог
		button.download__item(type="button", data-toggle="modal", data-target="#clientForm") Каталог и чертежи почтой

	#clientForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='clientFormLabel')
		.modal-dialog(role='document')
			.modal-content
				form.client-form.toggle-disabled(action="")
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true')
						//- h4#clientFormLabel.modal-title Modal title
					.modal-body
						.clearfix
							.client-form__name.col-xs-12.col-sm-6
								label(for="client-name") Ваше имя
								input#client-name.material.validate(type="text", name="client-name", data-validation-event="keyup", data-validation="required", data-validation-error-msg="Введите имя")
							.client-form__phone.col-xs-12.col-sm-6
								label(for="client-phone") Телефон
								input#client-phone.material.validate.form-phone(type="text", name="client-phone", data-validation-event="keyup", data-validation="required length", data-validation-length="min11", data-validation-error-msg="Введите номер телефона для связи с вами")

					.modal-footer
						.client-form__checkbox.col-xs-12.col-sm-6
							.col-xs-6
								input#email-catalog(type="checkbox", name="catalog")
								label(for="email-catalog") Каталог
							.col-xs-6
								input#email-draws(type="checkbox", name="draws")
								label(for="email-draws") Чертежи
						.client-form__button.col-xs-12.col-sm-6
							//- button.btn.btn-default(type='button', data-dismiss='modal') Close
							button(type='button') Получить