$warm-purple: #7a3183
$water-blue: #0e6fc9
$white: #f7f7f7
$pinky-purple: #b64ac4
$deep-sky-blue: #1182ea
$light-indigo: #855bcf
$dark-blue-grey: #22194a
$dark-slate-blue: #332668
$dark-slate-blue-two: #322668
$twilight: #59569d

$screen-xs-min: 320px

$screen-xs-landscape-min: 480px
$screen-xs-max: ($screen-xs-landscape-min - 1)

$screen-sm-min: 768px
$screen-xs-landscape-max: ($screen-sm-min - 1)

$screen-md-min: 992px
$screen-sm-max: ($screen-md-min - 1)

$screen-lg-min: 1200px
$screen-md-max: ($screen-lg-min - 1)

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
	position: relative
	min-height: 1px
	padding-right: 10px
	padding-left: 10px

.col-xs-15
	width: 20%
	float: left

@media (min-width: 768px)
	.col-sm-15
		width: 20%
		float: left

@media (min-width: 992px)
	.col-md-15
		width: 20%
		float: left

@media (min-width: 1200px)
	.col-lg-15
		width: 20%
		float: left
