@import 'meta/variables'

.lSAction
	&>a
		background: none
		font-size: 2em
		height: auto
		margin-top: initial
		transform: translateY(-50%)
		width: auto
		@media (min-width: $screen-md-min)
			font-size: 3em

	&>.lSNext,
	&>.lSPrev
		background-position: none
		color: $dark-slate-blue-two
	&>.lSNext
	&>.lSPrev

.lightSlider
	li
		text-align: center
		@media (min-width: $screen-md-min)
			text-align: left