@import 'meta/variables'

.slider
	overflow: hidden
	width: 100%
	&-body
		& > img
			opacity: .2
		&__layer
			filter: blur(5px)
			// background-image: linear-gradient(to right, $warm-purple, $water-blue)
			background-color: transparent
			position: absolute
			top: -1rem
			right: 0
			bottom: -1rem
			left: 0
			opacity: .85
		&__wrapper
			bottom: 0
			left: 0
			position: absolute
			right: 0
			top: 0
		&__text,
		&__image
			position: absolute
			// width: 50%
			top: 0
			bottom: 0
		&__text
			left: 0
			width: 55%
			// background-color: rgba(blue, .2)

			.text
				color: $white
				position: absolute
				top: 50%
				transform: translateY(-30%)
				font-size: initial
				margin-left: 2rem
				z-index: 1
				@media (min-width: $screen-sm-min)
					margin-left: 0
				&__title
					font-size: .7em
					@media (min-width: $screen-xs-landscape-min)
						font-size: 1.5em
					@media (min-width: $screen-lg-min)
						font-size: 2.5em
				&__description
					font-size: 1.1em
					font-weight: bold
					@media (min-width: $screen-xs-landscape-min)
						font-size: 2.5em
					@media (min-width: $screen-lg-min)
						font-size: 5em

		&__image
			width: 45%
			right: 0
			// background-color: rgba(green, .2)

			img
				max-width: 67.5% !important
				position: absolute
				right: 0
				bottom: 0
				// transform: translateY(-10%)
	.pages
		.page
			border: 5px solid #fff
			font-size: 0
			font-size: 2em
			margin-bottom: 1.5rem
			margin-right: 1rem
			&.active
				border: 7px solid #fff

// .download
// 	font-size: initial
// 	&__layer
// 		position: absolute
// 		width: 100%
// 		text-align: center
// 		@media (min-width: $screen-sm-min)
// 			bottom: 10.25rem
// 			width: auto
// 			left: 0
// 			right: 0
// 		@media (min-width: $screen-md-min)
// 			bottom: 8em
// 		@media (min-width: $screen-lg-min)
// 			bottom: 12em
// 			left: initial
// 			right: initial

// 	&__item
// 		background-image: linear-gradient(to right, $pinky-purple, $deep-sky-blue)
// 		border-radius: 100px
// 		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2)
// 		color: $white
// 		height: 4.5rem
// 		width: 25rem
// 		margin-top: 1rem
// 		@media (min-width: $screen-sm-min)
// 			margin-right: 2.5rem
// 			height: 5.5rem
// 		@media (min-width: $screen-lg-min)
// 			// display: block
// 			margin-top: 1rem
// 			&:first-child
// 				margin-top: 0
