extends layouts/inner-page

block content
	.container-fluid.error.page-inner
		section.row.wrapper
			.col-xs-12.col-sm-5.col-sm-push-7
				.error__title 404
			.col-xs-12.col-sm-7.col-sm-pull-5
				.error__description
					h2 Страница не найдена…
					p Страница не найдена. Возможно, вас заинтересует наша продукция.
			include ./template/products/_products

	include ./template/download/layer-inner