extends layouts/inner-page

block content
	.container-fluid.about_page.page-inner
		.wrapper
			.about.row
				.about__part.col-xs-12
					h2 ООО «ЭнергоМет»
					img.pull-right.hidden-xs.col-sm-4.col-md-6(src="images/elements/About/logo_descript.png", alt="ООО ЭнергоМет")
					p Предприятие специализируется выпуске изделий для прокладки промышленных кабельных линий и гражданского назначения. В том числе предлагая своим заказчикам новые разработки и технологии в этом направлении.
					p Плотное сотрудничество и надежные партнерские отношения помогают нам отслеживать тенденции рынка, быть в курсе событий и предлагать нашим партнерам и клиентам самые современные и интересные решения.
				.about__part.col-xs-12
					.about__features.col-xs-12.col-md-6
						.features
							.features__item.col-xs-6.col-sm-3.col-md-6
								.features__icon.col-xs-12
									//- +new-tech()
									img(src="images/svg/integration.svg", alt="Простая интеграция")
								.features__description.features__description_mobile.col-xs-12 Простая интеграция
								//- .features__description.features__description_mobile.col-xs-12.visible-xs-inline.visible-sm-inline Простая интеграция
								//- .features__description.features__description_desktop.col-xs-12.visible-md-inline.visible-lg-inline Новейшие решения в разработке креплений
							.features__item.col-xs-6.col-sm-3.col-md-6
								.features__icon.col-xs-12
									//- +rouble()
									img(src="images/svg/money.svg", alt="Гибкая ценовая политика")
								.features__description.features__description_mobile.col-xs-12 Гибкая ценовая политика
								//- .features__description.features__description_mobile.col-xs-12.visible-xs-inline.visible-sm-inline Гибкая ценовая политика
								//- .features__description.features__description_desktop.col-xs-12.visible-md-inline.visible-lg-inline Конкурентоспособная ценовая политика
							.features__item.col-xs-6.col-sm-3.col-md-6
								.features__icon.col-xs-12
									//- +time-clock()
									img(src="images/svg/fast-time.svg", alt="Наличие и оперативные сроки производства")
								.features__description.features__description_mobile.col-xs-12 Наличие и оперативные сроки производства
								//- .features__description.features__description_mobile.col-xs-12.visible-xs-inline.visible-sm-inline Наличие и оперативные сроки производства
								//- .features__description.features__description_desktop.col-xs-12.visible-md-inline.visible-lg-inline Оперативные сроки производства и доставки до объекта
							.features__item.col-xs-6.col-sm-3.col-md-6
								.features__icon.col-xs-12
									//- +docs()
									img(src="images/svg/docs.svg", alt="Полный комплект технической документации")
								.features__description.features__description_mobile.col-xs-12 Полный комплект технической документации
								//- .features__description.features__description_mobile.col-xs-12.visible-xs-inline.visible-sm-inline Полный комплект технической документации
								//- .features__description.features__description_desktop.col-xs-12.visible-md-inline.visible-lg-inline Предоставление полной технической информации по изделию

					p Многолетний опыт и надежные партнерские отношения помогают нам отслеживать тенденции рынка, быть в курсе событий и предлагать нашим партнерам и клиентам самые выгодные, современные и интересные решения.
					p Вся продукция, представленная на сайте изготавливается производственным подразделением компании «Энергомет».
					p Собственные производственные мощности расположены в крупнейшем логистическом центре России - городе Екатеринбурге, что гарантирует оперативность доставки продукции по территории Российской Федерации и странам Евразийского экономического союза.
					p В процессе производства используются исключительно материалы и комплектующие российского производства, которые проходят обязательный входной контроль качества: спектральный анализ, замеры сопротивления и другие.
					p Производственный и кадровый потенциал позволяют нам реализовать проекты любого объема и сложности.
					p Мы производим не только шинопроводные системы Bafen, безупречные во всех деталях, но и оказываем полный комплекс услуг на всех стадиях реализации проекта.
				.about__partners.col-xs-12
					p Наша продукция использовалась при новом строительстве, а также при реконструкции существующих мощностей на таких предприятиях и объектах как:
					include ./template/partners/_partners

	
		include ./template/certificates/_certificates