extends layouts/inner-page

block content
	.container-fluid
		.contact.row
			.contact__wrapper.clearfix
				.wrapper
					.contact__form.col-md-7.col-md-push-5
						include ./template/contact/contact-form
					.contact__data.clearfix.col-md-5.col-md-pull-7
						.contact__title OOO &laquo;ЭнергоМет&raquo;
				
						.contact__item.contact__item_address.clearfix
							.icon.col-xs-2.vcenter
								img(src="images/elements/Contacts/location_icon.svg", alt="Адрес ООО «ЭнергоМет»")
							.description.col-xs-10.vcenter г.Екатеринбург, ул.Монтерская 3, стр.3
						.contact__item.contact__item_phones.clearfix
							.icon.col-xs-2.vcenter
								img(src="images/elements/Contacts/phone_icon.svg", alt="Телефон ООО «ЭнергоМет»")
							.description.col-xs-10.vcenter
								.contact-phone.row
									.contact-phone__item.col-xs-12
										.contact-phone__number +7 (343) 287-94-27
										.contact-phone__description многоканальный
									.contact-phone__item.col-xs-12
										.contact-phone__number +7 (343) 382-94-27
										.contact-phone__description техподдержка
						.contact__item.contact__item_emails.clearfix
							.icon.col-xs-2.vcenter
								img(src="images/elements/Contacts/mail_icon.svg", alt="Электронный адрес ООО «ЭнергоМет»")
							.description.col-xs-10.vcenter
								.contat-email
									.contat-email__item
										.contat-email__email info@energomet-e.ru
									.contat-email__item
										.contat-email__email snab@energomet-e.ru
						.contact__item.contact__item_workhours.clearfix
							.icon.col-xs-2.vcenter
								img(src="images/elements/Contacts/calendar_icon.svg", alt="Часы работы ООО «ЭнергоМет»")
							.description.col-xs-10.vcenter
								.contact-workhours
									.contact-workhours__item ПН-ЧТ с 9:00 до 18:00
									.contact-workhours__item ПТ с 9:00 до 17:00
									.contact-workhours__item СБ-ВС выходной
				.contact__map
					.map.col-xs-12
						.map__area
							#map-canvas
block scripts
	//- include _google-maps.html
	<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA5dKuhlgOYHmJ3TcmvNAk4BVogiFd-kA&signed_in=true&language=ru&callback=GoogleMapsInitialize"></script>