
extends layouts/inner-page

block content
	.container-fluid.energetica.page-inner.row
		section.row.wrapper
			.energetica__description.col-xs-12
				p Компания «Энергомет» уже свыше 10 лет разрабатывает, производит и осуществляет поставку креплений для высоковольтного кабеля и сопутствующего оборудования. В соответствии с общей Энергетической стратегией России до 2030 года и в рамках правительственной программы импортозамещения компания запустила собственное производство кабельных креплений и металлоконструкций для монтажа силовых кабелей.

			.energetica__title.col-xs-12
				h2 Объекты

			.energetica__area.clearfix

				.energetica__item.col-xs-12.col-sm-6.col-md-4.col-lg-3(href="product-2.html")
					.energetica__wrapper
						.energetica__image
							img(src="images/elements/Catalog/subcategory1.png", alt="")
						.energetica__shadow
					.energetica__name Теплоэлектроцентраль

				.energetica__item.col-xs-12.col-sm-6.col-md-4.col-lg-3(href="product-2.html")
					.energetica__wrapper
						.energetica__image
							img(src="images/elements/Catalog/subcategory1.png", alt="")
						.energetica__shadow
					.energetica__name Теплоэлектроцентраль

				.energetica__item.col-xs-12.col-sm-6.col-md-4.col-lg-3(href="product-2.html")
					.energetica__wrapper
						.energetica__image
							img(src="images/elements/Catalog/subcategory1.png", alt="")
						.energetica__shadow
					.energetica__name Теплоэлектроцентраль

				.energetica__item.col-xs-12.col-sm-6.col-md-4.col-lg-3(href="product-2.html")
					.energetica__wrapper
						.energetica__image
							img(src="images/elements/Catalog/subcategory1.png", alt="")
						.energetica__shadow
					.energetica__name Теплоэлектроцентраль
					
			include ./template/pagination/_pagination

	include ./template/download/layer-inner