extends layouts/default

block content

	//- .jumbotron
	//- 	h1 'Allo, 'Allo!
	//- 	p.lead Always a pleasure scaffolding your apps.
	//- 	p: a.btn.btn-lg.btn-success(href='#') Splendid!

	.container-fluid
		//- About
		section.about.row.wrapper
			.about__text.col-xs-12.col-md-6.col-md-push-6
				.text-about
					.text-about__area
						h2 Компания «Энергомет»
						p Предприятие специализируется выпуске изделий для прокладки промышленных кабельных линий и гражданского назначения. В том числе предлагая своим заказчикам новые разработки и технологии в этом направлении.
						p Плотное сотрудничество и надежные партнерские отношения помогают нам отслеживать тенденции рынка, быть в курсе событий и предлагать нашим партнерам и клиентам самые современные и интересные решения.
					button.text-about__detail Подробнее
				.shadow.visible-sm-block.visible-md-block.visible-lg-block
			.about__features.col-xs-12.col-md-6.col-md-pull-6
				.features
					.features__item.col-xs-6.col-sm-3.col-md-6
						.features__icon.col-xs-12
							//- +new-tech()
							img(src="images/svg/integration.svg", alt="Простая интеграция")
						.features__description.features__description_mobile.col-xs-12 Простая интеграция
						//- .features__description.features__description_mobile.col-xs-12.visible-xs-inline.visible-sm-inline Простая интеграция
						//- .features__description.features__description_desktop.col-xs-12.visible-md-inline.visible-lg-inline Новейшие решения в разработке креплений
					.features__item.col-xs-6.col-sm-3.col-md-6
						.features__icon.col-xs-12
							//- +rouble()
							img(src="images/svg/money.svg", alt="Гибкая ценовая политика")
						.features__description.features__description_mobile.col-xs-12 Гибкая ценовая политика
						//- .features__description.features__description_mobile.col-xs-12.visible-xs-inline.visible-sm-inline Гибкая ценовая политика
						//- .features__description.features__description_desktop.col-xs-12.visible-md-inline.visible-lg-inline Конкурентоспособная ценовая политика
					.features__item.col-xs-6.col-sm-3.col-md-6
						.features__icon.col-xs-12
							//- +time-clock()
							img(src="images/svg/fast-time.svg", alt="Наличие и оперативные сроки производства")
						.features__description.features__description_mobile.col-xs-12 Наличие и оперативные сроки производства
						//- .features__description.features__description_mobile.col-xs-12.visible-xs-inline.visible-sm-inline Наличие и оперативные сроки производства
						//- .features__description.features__description_desktop.col-xs-12.visible-md-inline.visible-lg-inline Оперативные сроки производства и доставки до объекта
					.features__item.col-xs-6.col-sm-3.col-md-6
						.features__icon.col-xs-12
							//- +docs()
							img(src="images/svg/docs.svg", alt="Полный комплект технической документации")
						.features__description.features__description_mobile.col-xs-12 Полный комплект технической документации
						//- .features__description.features__description_mobile.col-xs-12.visible-xs-inline.visible-sm-inline Полный комплект технической документации
						//- .features__description.features__description_desktop.col-xs-12.visible-md-inline.visible-lg-inline Предоставление полной технической информации по изделию

		section.background-image
			//- Product

			include ./template/products/_products
			
			//- section.products.row.wrapper
				.products__title.col-xs-12
					h2 Продукция
				.products__area.col-xs-12
					.products__item.col-xs-6
						.products__image.vcenter
							.products__image-wrapper
								.products__image_circle
									img(src="images/slider/upper-layer-image.png", alt="")
								.products__shadow

						.products__description.col-xs-6.vcenter Кабельные крепления

					.products__item.col-xs-6
						.products__image.vcenter
							.products__image-wrapper
								.products__image_circle
									img(src="images/slider/upper-layer-image.png", alt="")
								.products__shadow
						.products__description.col-xs-6.vcenter Несущие конструкции

			//- Exploitation
			section.exploitation.row.wrapper
				.exploitation__title
					h2 Применение
				.exploitation__table
					.exploitation__item.col-xs-12.col-sm-4
						.exploitation__icon
							//- +electric-tower()
							img(src="images/svg/energetica.svg", alt="Энергетика")
						.exploitation__name Энергетика
						//- .exploitation__description.visible-md-block.visible-lg-block Максимальная эффективность при больших токах и высоких температурах.
						button.exploitation__button Подробнее
					.exploitation__item.col-xs-12.col-sm-4
						.exploitation__icon
							//- +factory()
							img(src="images/svg/productions.svg", alt="Промышленное производство")
						.exploitation__name Промышленное производство
						//- .exploitation__description.visible-md-block.visible-lg-block Низкие потери, возможность модернизации, высокая степень защиты, малый вес.
						button.exploitation__button Подробнее
					.exploitation__item.col-xs-12.col-sm-4
						.exploitation__icon
							//- +crane-builder()
							img(src="images/svg/building.svg", alt="Гражданское строительство")
						.exploitation__name Гражданское строительство
						//- .exploitation__description.visible-md-block.visible-lg-block Компактный размер, эстетичный внешний вид, высокий уровень пожарной безопасности.
						button.exploitation__button Подробнее

		//- Certification
		
		include ./template/certificates/_certificates
			
			//- section.certificates.row.wrapper
			//- 	.certificates__title
			//- 		h2 Сертификаты и письма
			//- 	.certificates__wrapper
			//- 		ul.certifitates-slider
			//- 			li
			//- 				.certificates__image
			//- 					img(src="images/certificates/1.jpg", alt="")
			//- 			li
			//- 				.certificates__image
			//- 					img(src="images/certificates/2.jpg", alt="")
			//- 			li
			//- 				.certificates__image
			//- 					img(src="images/certificates/3.jpg", alt="")
			//- 			li
			//- 				.certificates__image
			//- 					img(src="images/certificates/4.jpg", alt="")
			//- 			li
			//- 				.certificates__image
			//- 					img(src="images/certificates/5.jpg", alt="")

	//- .container-fluid
	//- 	include ../app/template/search/search-form

