extends layouts/inner-page

block content
	.container-fluid.news-current.page-inner
		.wrapper.row
			p Натурные испытания кабельных креплений серии КА проводились в испытательной лаборатории Федерального Государственного Учреждения Науки УРО РАН, что подтверждает высокий уровень подхода к испытаниям. Целью испытания было выявить пригодность изделий к устойчивости влияния отрицательных температур.
			.news-current__image.pull-right.col-xs-12.col-sm-6
				img(src="images/elements/Newscard/image.png", alt="")
			p Кабельные крепления помещали в криогенную камеру, где они находились продолжительное время при отрицательной температуре. Температура изделия должна была понизиться до заданной температуры для проведения теста на механическую прочность. После выравнивания температуры крепления с температурой криогенной камеры, хомут подвергался проверке на соответствие заданных технических характеристик с действительными, при отрицательных температурах.
			p <strong>Итог испытания:</strong> Прочность креплений серии КА ТУ 3449-001-25012582–2015 соответствует необходимым значениям нагрузок под влияниям отрицательных температур.

	
	include ./template/download/layer-inner