extends layouts/inner-page

block content
	.container-fluid.products_inner.products_inner_2
		section.products.row.wrapper
			//- .products__title.col-xs-12
			//- 	h2 Продукция
			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ


		//- Components
		section.products.products__components.row.wrapper
			.products__title
				h2 Комплектующие

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ

	//- Form
	include ./template/download/layer-inner
	