extends layouts/inner-page

block content
	.container-fluid.product
		.wrapper
			section.row.product__info
				.product__image.col-xs-12.col-sm-5
					img(src="images/elements/Cardproduct/Image_product.png", alt="")
				.product__preview.col-xs-12.col-sm-7
					.product__title
						h2 Описание
					.product__description
						p Универсальное Кабельное крепление КА 25-40 УХЛ1 применяется для крепления кабелей разных типов оболочек напряжением 1 кВ, 6-10 кВ, 35 кВ в ряд к несущим конструкциям и обеспечивают надежную фиксацию кабеля, исключая полностью его контакт с металлической  конструкцией.
						p С помощью продуманной конструкции крепления можно наращивать в вертикальной плоскости в единую конструкцию, этому способствуют боковые ребра, фиксирующиеся на боковинах парного крепления.
					.product__button
						button(type="button", data-toggle="modal", data-target="#knowPrice") Узнать цену
					
					#knowPrice.modal.fade(tabindex='-1', role='dialog', aria-labelledby='knowPriceLabel')
						.modal-dialog(role='document')
							.modal-content
								form.client-form.toggle-disabled(action="")
									.modal-header
										button.close(type='button', data-dismiss='modal', aria-label='Close')
											span(aria-hidden='true')
										//- h4#clientFormLabel.modal-title Modal title
									.modal-body
										.clearfix
											.client-form__name.col-xs-12.col-sm-6
												label(for="client-name") Ваше имя
												input#client-name.material.validate(type="text", name="client-name", data-validation-event="keyup", data-validation="required", data-validation-error-msg="Введите имя")
											.client-form__phone.col-xs-12.col-sm-6
												label(for="client-phone") Телефон
												input#client-phone.material.validate.form-phone(type="text", name="client-phone", data-validation-event="keyup", data-validation="required length", data-validation-length="min11", data-validation-error-msg="Введите номер телефона для связи с вами")
											.client-form__email.col-xs-12
												label(for="client-email") Ваш email
												//- input#client-phone.material.validate(type="text", name="client-phone", data-validation-event="keyup", data-validation="required length", data-validation-length="min11", data-validation-error-msg="Введите номер телефона для связи с вами")
												input#client-email.material.validate(type="text", name="client-email-1", data-validation-event="keyup", data-validation="required", data-validation-error-msg="Введите email")
									.modal-footer
										.client-form__button.client-form__button_knowPrice.col-xs-12
											//- button.btn.btn-default(type='button', data-dismiss='modal') Close
											button(type='button') Отправить

			section.row
				.product__tabs.col-xs-12
					ul.nav.nav-tabs(role="tablist")
						li.active(role="presentation")
							a(href="#features", aria-controls="features", role="tab", data-toggle="tab") Характеристика
						li(role="presentation")
							a(href="#installation", aria-controls="installation", role="tab", data-toggle="tab") Монтаж
				.product__addition-info.tab-content.col-xs-12
					.product__features.tab-pane.fade.in.active#features(role="tabpanel")
						.product__content
							h2 Особенности
							ul
								li материал крепления: полиамид армированный стекловолокном;
								li конструкция полностью исключает контакт кабеля с  металлической конструкцией;
								li широкий диапазон размеров закрепляемых кабелей;
								li за счет свойств материала и широкого обхвата не повреждает оболочку кабеля.
							.divider

							h2 Технические характеристики
							ul
								li Климатическое исполнение и категория размещения УХЛ1 ГОСТ 15150-69;
								li Температура применения: от -60 С до +120 С градусов;
								li Стойкость: к озону, ультрафиолету, атмосферных осадков, радиации.
							.divider
					.product__installation.tab-pane.fade#installation(role="tabpanel")
						.product__content
							h2 Особенности монтажа
							p Кабельное крепление КА применяется для крепления одно и многожильных кабелей разных классов напряжения до 500 кВ с ПВХ-изоляцией и изоляцией из сшитого полиэтилена. Крепление обеспечивает надежную фиксацию кабеля в горизонтальной и наклонной плоскостях без применения дополнительных прокладок.
							p При установке креплений на вертикальных участках рекомендуется использовать эластичные уплотни- тельные ленты для предотвращения выскальзывания кабелей и деформации под действием собственного веса. Производится по ТУ 3449 - 001- 25012582 – 2015.
							.divider
							h2 Возможные варианты монтажа
							p Кабельное крепление КА применяется для крепления одно и многожильных кабелей разных классов напряжения до 500 кВ с ПВХ-изоляцией и изоляцией из сшитого полиэтилена. Крепление обеспечивает надежную фиксацию кабеля в горизонтальной и наклонной плоскостях без применения дополнительных прокладок.
							p При установке креплений на вертикальных участках рекомендуется использовать эластичные уплотни- тельные ленты для предотвращения выскальзывания кабелей и деформации под действием собственного веса. Производится по ТУ 3449 - 001- 25012582 – 2015.


		
	include ./template/download/layer-inner

	.container-fluid.products_inner.products_inner_current.hidden-xs
		//- Components
		section.products.products__components.row.wrapper
			.products__title
				h2 Сопутствующие товары

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ

			.products__area.col-xs-6.col-sm-4.col-md-3.col-lg-15
				a.products__item.col-xs-12(href="product-current.html")
					.products__image
						.products__image-wrapper
							.products__image_circle
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow
					.products__description.col-xs-12 Консоль КВ
	