extends layouts/inner-page

block content
	.container-fluid.products_inner.products_inner_2
		section.products.row.wrapper
			//- .products__title.col-xs-12
			//- 	h2 Продукция
			.products__area.col-xs-12
				a.products__item.col-xs-12.col-sm-6(href="product-2.html")
					.products__image.vcenter
						.products__image-wrapper
							.products__image_square
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow.products__shadow_square
					.products__description.col-xs-6.col-md-7.vcenter
						.products__title Кабельные крепления КА
						.products__text.visible-md-inline-block.visible-lg-inline-block Универсальное кабельное крепление (хомут) для крепления одножильных и многожильных кабелей разного класса напряжения в вертикальной и горизонтальной плоскостях.
					.products__text.visible-xs-block.visible-sm-block Универсальное кабельное крепление (хомут) для крепления одножильных и многожильных кабелей разного класса напряжения в вертикальной и горизонтальной плоскостях.


				a.products__item.col-xs-12.col-sm-6(href="product-2.html")
					.products__image.vcenter
						.products__image-wrapper
							.products__image_square
								img(src="images/slider/upper-layer-image.png", alt="")
							.products__shadow.products__shadow_square
					.products__description.col-xs-6.col-md-7.vcenter
						.products__title Кабельные крепления КА3
						.products__text.visible-md-inline-block.visible-lg-inline-block Кабельное крепление в треугольник для крепления трех одножильных кабелей разного класса напряжения в треугольный пучок в горизонтальной и вертикальной плоскостях.
					.products__text.visible-xs-block.visible-sm-block Кабельное крепление в треугольник для крепления трех одножильных кабелей разного класса напряжения в треугольный пучок в горизонтальной и вертикальной плоскостях.

	include ./template/download/layer-inner
	