extends layouts/inner-page

block content
	.container-fluid.news.page-inner.row
		section.row.wrapper
			.news__title.col-xs-12
				h2 Найдено 4 результата по запросу: «Кабельные крепления»
			.news__item.col-xs-12
				.news__wrapper.clearfix
					.news__body.col-xs-12.clearfix
						h2 Испытание кабельных креплений серии КА холодом
						p Натурные испытания кабельных креплений серии КА проводились в испытательной лаборатории Федерального Государственного Учреждения Науки УРО РАН, что подтверждает высокий уровень подхода к испытаниям. Целью испытания было выявить пригодность изделий к устойчивости влияния отрицательных температур...
						.news__button
							a(href="product-current.html") Читать подробнее ...
					.news__shadow
			.news__item.col-xs-12
				.news__wrapper.clearfix
					.news__body.col-xs-12.clearfix
						h2 Испытание кабельных креплений серии КА холодом
						p Натурные испытания кабельных креплений серии КА проводились в испытательной лаборатории Федерального Государственного Учреждения Науки УРО РАН, что подтверждает высокий уровень подхода к испытаниям. Целью испытания было выявить пригодность изделий к устойчивости влияния отрицательных температур...
						.news__button
							a(href="product-current.html") Читать подробнее ...
					.news__shadow
			.news__item.col-xs-12
				.news__wrapper.clearfix
					.news__body.col-xs-12.clearfix
						h2 Испытание кабельных креплений серии КА холодом
						p Натурные испытания кабельных креплений серии КА проводились в испытательной лаборатории Федерального Государственного Учреждения Науки УРО РАН, что подтверждает высокий уровень подхода к испытаниям. Целью испытания было выявить пригодность изделий к устойчивости влияния отрицательных температур...
						.news__button
							a(href="product-current.html") Читать подробнее ...
					.news__shadow

			include ./template/pagination/_pagination

	include ./template/download/layer-inner