@import "meta/variables"

$padding-size: .5rem

.partners
	padding: 0 15px
	margin: 2rem (-$padding-size) 1rem
	@media (min-width: $screen-md-min)
		margin-bottom: 4rem
	&__item
		padding: $padding-size
		z-index: 2
	&__wrapper
		position: relative
	&__square
		// position: relative
		z-index: 1
		display: inline-block
		background-color: $white
		box-shadow: 0 2px 2px 0 rgba(black, .25)
		// height: $image-size_xs
		// width: $image-size_xs
		// z-index: 1
		overflow: hidden
		// @media (min-width: $screen-sm-min)
		// 	// margin-left: 0
		// 	// padding-left: 0
		// 	height: $image-size_sm
		// 	width: $image-size_sm
		// @media (min-width: $screen-md-min)
		// 	height: $image-size_md
		// 	width: $image-size_md
		img
			width: 100%
	&__shadow
		// border-radius: 50%
		position: absolute
		background-color: $light-indigo
		top: -0.3rem
		left: .3rem
		// width: $image-size_xs
		// height: $image-size_xs
		height: 100%
		width: 100%
		z-index: -2
		@media (min-width: $screen-sm-min)
			// width: $image-size_sm
			// height: $image-size_sm
			top: -0.5rem
			left: .5rem
		// @media (min-width: $screen-md-min)
		// 	width: $image-size_md
		// 	height: $image-size_md
