.row
	.partners.col-xs-12
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/1.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/2.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/3.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/4.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/5.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/6.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/7.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/8.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/9.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/10.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/11.png", alt="")
				.partners__shadow
		a.partners__item.col-xs-4.col-sm-2(href="")
			.partners__wrapper
				.partners__square
					img(src="images/elements/About/partners/12.png", alt="")
				.partners__shadow