@import "meta/variables"

.news
	background-color: rgba($white, .95)
	background-image: linear-gradient(to top, rgba($white, .95), rgba(white, 0))
	padding-top: 3rem
	padding-bottom: 3rem
	// h2
	// 	margin-top: .5rem
	&-current
		@extend .news
		&__image
			margin-top: 1rem
			margin-bottom: 1.5rem
			padding: 0
			@media (min-width: $screen-sm-min)
				padding: 0 15px
	&__title
		margin-bottom: 0rem
		@media (min-width: $screen-sm-min)
			margin-bottom: 2rem
	&__image
		position: absolute
		top: 0
		right: 0
		bottom: 0
		z-index: 0
		overflow: hidden
		padding: 0
		// background-image: linear-gradient(to right, rgba($white, .95), rgba(white, 0))
		img
			height: 100%
			width: auto
			max-width: none
			position: absolute
			top: 0
			bottom: 0
			right: 50%
			transform: translateX(50%)
			z-index: 1
	&__blur
		background-image: linear-gradient(to right, rgba($white, 1), rgba($white, 0))
		bottom: 0
		left: 0
		position: absolute
		right: 0
		top: 0
		z-index: 2
		padding: 0
	&__item
		z-index: 2
	&__wrapper
		position: relative
		margin-bottom: 2rem
		box-shadow: 0 2px 2px 0 rgba(black, .25)
		background-color: $white
		@media (min-width: $screen-md-min)
			margin-bottom: 4rem
	&__body
		display: inline-block
		overflow: hidden
		padding: 1rem 2rem
		// width: 100%
		// background-color: $white
		z-index: 1
		@media (min-width: $screen-sm-min)
			background-image: linear-gradient(to right, rgba($white, 1), rgba(white, 0))
			// background-color: transparent
	&__shadow
		position: absolute
		background-color: $light-indigo
		top: -0.3rem
		left: .3rem
		// width: $image-size_xs
		// height: $image-size_xs
		height: 100%
		width: 100%
		z-index: -2
		@media (min-width: $screen-sm-min)
			// width: $image-size_sm
			// height: $image-size_sm
			top: -0.5rem
			left: .5rem
	&__button
		text-align: center
		margin-top: 2rem
		margin-bottom: 1rem
		@media (min-width: $screen-sm-min)
			text-align: left
		a
			background-image: linear-gradient(to right, $pinky-purple, $deep-sky-blue)
			border-radius: 100px
			box-shadow: 0 2px 2px 0 rgba(black, .25)
			color: $white
			height: 4.5rem
			width: 100%
			display: inline-block
			line-height: 2.75
			// margin-top: 1.5rem
			text-align: center
			@media (min-width: $screen-sm-min)
				margin-top: 1rem
				margin-right: 2.5rem
				width: 28rem
				height: 4.9rem