@import 'meta/variables'

.search
	background-image: linear-gradient(to right, $warm-purple, $water-blue)
	padding: 14rem 0 2rem
	@media (min-width: $screen-xs-landscape-min + 26px)
		padding-top: 8rem
	@media (min-width: $screen-sm-min)
		padding: 6rem 0 3rem
	@media (min-width: $screen-md-min)
		padding: 3rem 0
	&_inner
		padding-left: 2rem
		padding-right: 3rem
		opacity: 1
		.search
			padding-top: 2rem
			background: none
	&__wrapper
	&__form
		// border-bottom: rgba(247, 247, 247, 0.4)
		// text-align: center
		max-width: 640px
		margin: auto
		height: 4rem
		padding-left: 2rem
		padding-right: 2rem
		border-bottom: 2px solid rgba(247, 247, 247, .4)
	&__input,
	&__button
		height: 100%
		input, label, button
			width: 100%
			color: $white

	&__input
		position: relative
		z-index: 1
		background: transparent
		label
			position: absolute
			top: 50%
			transform: translateY(-50%)
			// text-align: center
			// font-size: 1.15em
			font-weight: normal
			left: 15px
			right: 15px
			opacity: .6
			transition: top .3s, font-size .3s, opacity .3s
			cursor: text
			z-index: -1
		input
			background: transparent
			border: none
			outline: none
			height: 100%
			z-index: 2
		&.active
			label
				top: -20%
				font-size: 10px
				opacity: .8
	&__button
		text-align: center
		button
			height: 100%
			background: transparent
		.button-text
			display: none
			@media (min-width: $screen-lg-min)
				display: initial
		.glyphicon
			margin-left: .5em
			font-size: 1.5em
			@media (min-width: $screen-md-min)
				font-size: initial
