section.cert-background
	section.certificates.row.wrapper
		.certificates__title
			h2 Сертификаты и письма
		.certificates__wrapper
			ul.certifitates-slider
				li
					.certificates__image
						img(src="images/certificates/1.jpg", alt="")
				li
					.certificates__image
						img(src="images/certificates/2.jpg", alt="")
				li
					.certificates__image
						img(src="images/certificates/3.jpg", alt="")
				li
					.certificates__image
						img(src="images/certificates/4.jpg", alt="")
				li
					.certificates__image
						img(src="images/certificates/5.jpg", alt="")