.footer.container-fluid
	.footer__item.row.wrapper
		.row.footer__logo.clearfix
			img.col-xs-8.col-sm-2.col-xs-offset-2.col-sm-offset-5(src="images/logo_footer.png", alt="")
		.row.footer__bottom-menu.clearfix.visible-sm-block.visible-md-block.visible-lg-block
			ul.bottom-menu
				li.bottom-menu__item
					a(href="#") Продукция
				li.bottom-menu__item
					a(href="#") О нас
				li.bottom-menu__item
					a(href="#") Статьи и обзоры
				li.bottom-menu__item
					a(href="#") Контакты
	.footer__item.row.wrapper
		.footer__copyright 2017 &copy; ООО «Энергомет»
