.container-fluid
	.our-header.our-header_inner.row.clearfix
		.wrapper
			include ../template/_topbar-inner

			.row.visible-sm-block.visible-md-block.visible-lg-block
				.our-breadcrumb.col-sm-6.visible-sm-block.visible-md-block.visible-lg-block
					include ../template/breadcrumb/_breadcrumb
				.search_inner.col-sm-6.visible-sm-block.visible-md-block.visible-lg-block
					include ../template/search/search-form

			//- .row.visible-xs-block.visible-sm-block.visible-md-block.visible-lg-block
			.row
				.title.col-sm-12
					h1 Контакты
