.container-fluid
	.our-header.row
		include ../template/_topbar

		include ../template/slider/slider

		include ../template/search/search-form
		


		//- ul.nav.nav-pills.pull-right
		//- 	li.active
		//- 		a(href='#') Home
		//- 	li
		//- 		a(href='#') About
		//- 	li
		//- 		a(href='#') Contact
		//- h3.text-muted energomet