mixin arrow()
	svg(viewBox="0 0 12 20", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
		path(d="M10.7240143,19.6756757 C10.5137395,19.8918919 10.2508961,20 9.98805257,20 C9.72520908,20 9.46236559,19.8918919 9.2520908,19.6756757 L0.315412186,10.5405405 C-0.105137395,10.1081081 -0.105137395,9.45945946 0.315412186,9.02702703 L8.77897252,0.324324324 C9.1995221,-0.108108108 9.88291517,-0.108108108 10.2508961,0.324324324 C10.6714456,0.756756757 10.6714456,1.40540541 10.2508961,1.83783784 L2.57586619,9.78378378 L10.7240143,18.1621622 C11.0919952,18.5945946 11.0919952,19.2432432 10.7240143,19.6756757 L10.7240143,19.6756757 Z")

mixin new-tech()
	svg(viewBox="0 0 110 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
		defs
			linearGradient#linearGradient(x1="0%" y1="50%" x2="100%" y2="50%")
				stop(stop-color="#7A3183" offset="0%")
				stop(stop-color="#0E6FC9" offset="100%")
		path(fill="url(#linearGradient)", d="M54.9728,0.9991 C85.3338,0.9991 109.9468,25.6121 109.9468,55.9731 C109.9468,86.3341 85.3338,110.9461 54.9728,110.9461 C24.6128,110.9461 -0.0002,86.3341 -0.0002,55.9731 C-0.0002,25.6121 24.6128,0.9991 54.9728,0.9991 Z M39.8882,62.2057 C39.8882,70.4897 33.1722,77.2057 24.8882,77.2057 C16.6032,77.2057 9.8882,70.4897 9.8882,62.2057 C9.8882,53.9207 16.6032,47.2057 24.8882,47.2057 C33.1722,47.2057 39.8882,53.9207 39.8882,62.2057 Z M24.8882,74.2577 C31.5172,74.2577 36.8912,68.8827 36.8912,62.2547 C36.8912,55.6247 31.5172,50.2507 24.8882,50.2507 C18.2582,50.2507 12.8842,55.6247 12.8842,62.2547 C12.8842,68.8827 18.2582,74.2577 24.8882,74.2577 Z M27.6638,100.2131 C27.2198,99.9391 26.7828,99.6571 26.3478,99.3691 C27.3848,99.2931 28.4578,99.1871 29.5678,99.0431 C32.0118,98.7271 34.2628,98.2801 36.3028,97.7711 L39.3318,105.1001 L43.7238,103.2831 C42.7038,100.7891 41.6828,98.2961 40.6638,95.8021 C41.9348,95.2351 43.3388,94.5201 44.8108,93.6181 C46.6218,92.5071 48.1418,91.3541 49.3868,90.2891 L54.9728,95.8021 L58.4738,92.4401 C56.6158,90.5821 54.7588,88.7241 52.9008,86.8671 C53.7978,85.7241 54.7158,84.4801 55.6338,83.1301 C56.5408,81.7981 57.3528,80.5031 58.0798,79.2651 L65.2588,82.3541 L67.1968,77.9321 C64.7828,76.8791 62.3688,75.8261 59.9558,74.7721 C60.3858,73.4221 60.7938,71.9331 61.1428,70.3151 C61.5858,68.2721 61.8578,66.3681 62.0208,64.6521 L69.9718,64.6511 C69.9708,63.0441 69.9698,61.4381 69.9698,59.8321 C67.3338,59.8281 64.6968,59.8241 62.0588,59.8201 C61.9008,58.3271 61.6668,56.7131 61.3268,55.0001 C61.0288,53.5001 60.6848,52.1021 60.3208,50.8141 C62.7838,49.8411 65.2458,48.8681 67.7088,47.8951 L65.9298,43.3921 C63.4728,44.3681 61.0168,45.3461 58.5598,46.3221 C57.9018,45.0351 57.1248,43.6581 56.2058,42.2271 C55.0938,40.4941 53.9618,38.9761 52.8848,37.6651 C54.7428,35.8021 56.6018,33.9381 58.4608,32.0751 C57.3238,30.9371 56.1878,29.7991 55.0518,28.6601 C53.1848,30.5201 51.3178,32.3791 49.4518,34.2391 C48.3438,33.3481 47.1178,32.4291 45.7718,31.5111 C44.4428,30.6051 43.1568,29.8081 41.9368,29.1081 C42.9668,26.6791 43.9968,24.2501 45.0268,21.8211 C43.5488,21.1811 42.0698,20.5431 40.5908,19.9041 C39.5408,22.3291 38.4918,24.7541 37.4408,27.1801 C35.8948,26.6791 34.1428,26.2011 32.2048,25.8131 C30.4398,25.4591 28.7918,25.2351 27.2938,25.0971 L27.2968,17.1541 C25.6888,17.1551 24.0808,17.1561 22.4728,17.1561 L22.4638,25.0701 C20.6468,25.2291 18.5528,25.5361 16.2658,26.1021 C14.4288,26.5571 12.7878,27.1011 11.3558,27.6571 C10.9878,28.2081 10.6118,28.7901 10.2528,29.3831 C8.2398,32.6971 6.8708,36.0601 6.2848,37.5771 C6.2848,37.5771 2.9988,46.9151 2.9818,55.9731 C2.9798,56.6521 2.9948,57.5631 3.0488,58.6281 C3.0438,58.5281 3.0458,58.4261 3.0418,58.3261 C3.0508,58.5261 3.0588,58.7231 3.0708,58.9321 C3.0658,58.8471 3.0558,58.7631 3.0518,58.6771 C3.0628,58.8921 3.0728,59.1051 3.0878,59.3321 C3.1058,59.6171 3.1348,59.8911 3.1578,60.1711 C3.1228,59.7431 3.0938,59.3301 3.0708,58.9321 C3.1018,59.4831 3.1478,60.0301 3.1958,60.5771 C3.1888,60.5011 3.1788,60.4291 3.1728,60.3531 C3.1788,60.4261 3.1898,60.5081 3.1968,60.5821 C3.1968,60.5801 3.1958,60.5781 3.1958,60.5771 C3.2458,61.1271 3.3028,61.6711 3.3668,62.2051 C3.3648,62.1851 3.3618,62.1661 3.3588,62.1461 C3.3668,62.2061 3.3718,62.2631 3.3798,62.3241 C3.3928,62.4381 3.4098,62.5491 3.4258,62.6631 L3.4018,62.4861 C3.4388,62.7791 3.4898,63.0911 3.5328,63.3921 C3.8998,65.9651 4.4608,68.4731 5.1878,70.9091 C5.4328,71.7261 5.6998,72.5561 5.9998,73.4021 C5.7288,72.6371 5.4608,71.8171 5.2018,70.9531 C5.7978,72.9381 6.5018,74.8751 7.3208,76.7531 C7.4338,77.0111 7.5468,77.2691 7.6638,77.5291 C7.5878,77.3631 7.5108,77.1961 7.4368,77.0281 C7.5608,77.3111 7.6828,77.5851 7.8018,77.8401 C7.7528,77.7361 7.7108,77.6331 7.6638,77.5291 C7.7428,77.7011 7.8168,77.8741 7.8968,78.0451 C7.8958,78.0441 7.8958,78.0421 7.8948,78.0411 C7.8958,78.0431 7.8968,78.0451 7.8978,78.0471 C7.8978,78.0461 7.8968,78.0461 7.8968,78.0451 C8.0888,78.4551 8.2958,78.8681 8.5018,79.2801 C8.4348,79.1471 8.3638,79.0161 8.2988,78.8831 C8.4628,79.2191 8.6168,79.5291 8.7508,79.7891 C8.8608,80.0031 8.9898,80.2471 9.1268,80.5011 C9.0698,80.3941 9.0168,80.2841 8.9608,80.1761 C9.1578,80.5501 9.3578,80.9211 9.5608,81.2841 C9.5338,81.2351 9.5048,81.1871 9.4768,81.1391 C9.5538,81.2761 9.6218,81.4021 9.7038,81.5461 C9.6548,81.4611 9.6088,81.3701 9.5608,81.2841 C9.9438,81.9691 10.3418,82.6451 10.7538,83.3101 C10.9098,83.5601 11.0678,83.8051 11.2258,84.0511 C11.0758,83.8181 10.9238,83.5871 10.7778,83.3511 C10.9908,83.6951 11.2188,84.0501 11.4598,84.4161 C11.5408,84.5411 11.6208,84.6721 11.7038,84.7961 C11.6398,84.7011 11.5808,84.6021 11.5168,84.5061 C11.7028,84.7871 11.8958,85.0741 12.0978,85.3671 C12.1558,85.4501 12.2128,85.5341 12.2698,85.6161 C12.2798,85.6311 12.2908,85.6451 12.3018,85.6601 C12.4868,85.9281 12.6748,86.1891 12.8628,86.4501 C13.1888,86.8991 13.5398,87.3621 13.9028,87.8291 C14.5848,88.7091 15.2708,89.5361 15.9578,90.3181 C16.2848,90.6891 16.6228,91.0631 16.9718,91.4381 C16.8378,91.2941 16.6958,91.1551 16.5628,91.0091 C20.3258,95.1411 23.9858,97.8511 26.2778,99.3761 C26.2998,99.3741 26.3218,99.3721 26.3438,99.3701 C26.7968,99.6691 27.2358,99.9481 27.6638,100.2131 Z M30.7038,101.9521 C32.3198,102.8061 33.9878,103.5751 35.6998,104.2591 L34.4958,101.2171 C33.9178,101.3591 33.3098,101.4931 32.6768,101.6181 C31.9938,101.7511 31.3358,101.8611 30.7038,101.9521 C30.6158,101.9061 30.5258,101.8631 30.4388,101.8161 C30.5208,101.8601 30.6128,101.9111 30.6918,101.9531 C30.6958,101.9531 30.6998,101.9521 30.7038,101.9521 Z M15.6778,21.9471 C15.2278,22.4661 14.7988,22.9821 14.3888,23.4931 C15.1278,23.2941 15.9118,23.1041 16.7378,22.9311 C17.6918,22.7321 18.6048,22.5771 19.4678,22.4571 L19.4678,18.0101 C19.5728,17.9111 19.6758,17.8091 19.7818,17.7111 C19.6778,17.8051 19.5678,17.9001 19.4678,17.9931 L19.4678,18.0101 C18.1358,19.2551 16.8718,20.5691 15.6778,21.9471 Z M83.4508,99.4781 C83.5998,99.3801 83.7688,99.2671 83.9458,99.1461 C83.7808,99.2581 83.6098,99.3601 83.4428,99.4691 L81.9048,97.6611 C83.5428,96.2681 85.1798,94.8751 86.8178,93.4821 C86.4568,92.9191 86.0898,92.3071 85.7268,91.6451 C85.3578,90.9711 85.0348,90.3201 84.7518,89.7021 L78.5768,91.5881 L76.1208,83.5451 C78.1748,82.8971 80.2288,82.2491 82.2838,81.6001 C82.2038,81.1011 82.1328,80.5791 82.0718,80.0331 C82.0078,79.4561 81.9618,78.9021 81.9298,78.3711 L75.5098,77.8541 L76.1848,69.4721 C78.3268,69.6441 80.4688,69.8171 82.6098,69.9891 C82.7428,69.3761 82.9038,68.7301 83.0968,68.0571 C83.3238,67.2701 83.5688,66.5361 83.8198,65.8601 L78.1208,62.8271 L82.0708,55.4031 C83.9698,56.4141 85.8708,57.4251 87.7698,58.4351 C88.0608,58.0321 88.3748,57.6171 88.7098,57.1961 C89.0918,56.7161 89.4698,56.2671 89.8428,55.8481 L85.6698,50.9431 L92.0738,45.4931 C93.4668,47.1301 94.8588,48.7661 96.2508,50.4031 C96.8938,49.9881 97.6008,49.5671 98.3728,49.1571 C98.9398,48.8541 99.4908,48.5841 100.0208,48.3421 L98.1358,42.1681 L104.5268,40.2151 C104.5518,40.2911 104.5798,40.3651 104.6028,40.4411 C104.5798,40.3671 104.5548,40.2841 104.5328,40.2131 L104.5268,40.2151 C97.8508,19.2061 78.1928,3.9811 54.9728,3.9811 C43.4028,3.9811 32.7188,7.7651 24.0818,14.1571 L24.0728,14.1571 C24.0348,14.1851 23.9968,14.2161 23.9598,14.2441 C23.9998,14.2141 24.0418,14.1871 24.0818,14.1571 L30.2948,14.1571 L30.2948,22.4611 C31.2128,22.5831 32.1928,22.7471 33.2238,22.9671 C34.1098,23.1561 34.9448,23.3671 35.7238,23.5881 C36.8248,21.0451 37.9258,18.5031 39.0258,15.9601 L48.9628,20.2621 L45.7258,27.9281 C46.2588,28.2521 46.8038,28.6011 47.3618,28.9761 C48.0088,29.4111 48.6168,29.8471 49.1878,30.2761 C51.1428,28.3211 53.0968,26.3671 55.0528,24.4121 L62.7078,32.0681 L56.8408,37.9351 C57.3088,38.5551 57.7858,39.2201 58.2608,39.9331 C58.8688,40.8421 59.4048,41.7251 59.8798,42.5671 C62.4558,41.5481 65.0318,40.5291 67.6078,39.5091 L71.5918,49.5761 L63.8628,52.6351 C64.0388,53.3391 64.2038,54.0841 64.3518,54.8681 C64.4798,55.5441 64.5858,56.1981 64.6718,56.8261 L72.9628,56.8261 L72.9628,67.6521 L64.6648,67.6521 C64.5528,68.4881 64.4048,69.3741 64.2148,70.3041 C64.0108,71.2901 63.7818,72.2131 63.5388,73.0681 C66.0818,74.1691 68.6248,75.2691 71.1668,76.3701 L66.8648,86.3061 L59.2398,83.0051 C58.7928,83.7451 58.2988,84.5101 57.7538,85.2901 C57.4488,85.7251 57.1448,86.1431 56.8418,86.5441 C58.7978,88.4991 60.7528,90.4541 62.7078,92.4101 L55.0528,100.0661 L49.1788,94.1941 C48.4608,94.7431 47.6718,95.3061 46.8098,95.8661 C46.0488,96.3621 45.3078,96.8051 44.5998,97.2021 C45.6058,99.7851 46.6118,102.3681 47.6188,104.9521 L43.3448,106.6421 C43.3078,106.6341 43.2698,106.6251 43.2318,106.6171 C43.1948,106.6081 43.1568,106.5991 43.1188,106.5901 L43.3198,106.6531 L43.3448,106.6421 C47.0858,107.4971 50.9738,107.9641 54.9728,107.9641 C65.4858,107.9641 75.2628,104.8341 83.4428,99.4691 L83.4508,99.4781 Z M106.7818,60.1601 C106.7848,60.1221 106.7908,60.0831 106.7928,60.0451 C106.7908,60.0801 106.7858,60.1181 106.7828,60.1541 C106.8918,58.7731 106.9648,57.3821 106.9648,55.9731 C106.9648,55.3461 106.9388,54.7261 106.9178,54.1051 C106.9188,54.1431 106.9218,54.1791 106.9238,54.2181 C106.9218,54.1531 106.9178,54.0921 106.9158,54.0281 C106.9168,54.0541 106.9168,54.0791 106.9178,54.1051 C106.8388,52.0071 106.6438,50.0651 106.3868,48.3181 C106.3938,48.3391 106.3998,48.3601 106.4068,48.3811 C106.5078,49.0701 106.5968,49.7621 106.6718,50.4591 C106.5918,49.6871 106.5058,49.0041 106.4228,48.4321 C106.4178,48.4151 106.4128,48.3981 106.4068,48.3811 C106.2268,47.1551 105.9998,45.9461 105.7358,44.7491 C105.9698,45.8241 106.1958,47.0151 106.3868,48.3181 C105.7978,46.4231 105.2088,44.5281 104.6188,42.6331 L101.0318,43.7201 L102.8398,49.5811 C101.6558,50.0671 100.3578,50.6751 98.9938,51.4371 C97.7978,52.1061 96.7308,52.7921 95.7948,53.4541 C94.4588,51.8981 93.1218,50.3411 91.7858,48.7851 L88.9568,51.2161 C90.2818,52.7701 91.6078,54.3251 92.9338,55.8791 C92.2258,56.6151 91.4908,57.4361 90.7498,58.3491 C89.8858,59.4151 89.1378,60.4511 88.4948,61.4241 C86.6718,60.4671 84.8478,59.5091 83.0238,58.5521 L81.2518,61.8681 L86.7188,64.7491 C86.2558,65.8671 85.7968,67.1291 85.3858,68.5271 C84.9718,69.9381 84.6758,71.2601 84.4608,72.4601 C82.4108,72.3011 80.3608,72.1431 78.3098,71.9841 L78.0128,75.7281 L84.1488,76.2181 C84.1668,77.2351 84.2258,78.3321 84.3468,79.4991 C84.4878,80.8521 84.6898,82.1001 84.9218,83.2301 C82.9558,83.8541 80.9898,84.4781 79.0228,85.1021 L80.1368,88.6971 L86.0058,86.8851 C86.5328,88.1621 87.1968,89.5641 88.0378,91.0341 C88.6428,92.0941 89.2628,93.0521 89.8688,93.9111 C88.3078,95.2491 86.7478,96.5861 85.1878,97.9241 C85.2488,97.9961 85.3088,98.0691 85.3698,98.1411 C84.9768,98.4241 84.5868,98.7101 84.1868,98.9821 C84.5428,98.7381 84.9368,98.4601 85.3718,98.1441 C85.3748,98.1471 85.3768,98.1491 85.3788,98.1521 C85.5928,97.9981 85.8218,97.8281 86.0568,97.6521 C85.8798,97.7851 85.6928,97.9081 85.5128,98.0381 C89.4618,95.1441 96.3168,89.2271 101.2448,79.6711 C101.1128,79.9281 100.9858,80.1871 100.8498,80.4421 C101.0148,80.1321 101.1758,79.8101 101.3368,79.4921 C101.6398,78.8961 101.9348,78.2841 102.2228,77.6601 C102.1368,77.8471 102.0568,78.0361 101.9698,78.2221 C102.0358,78.0811 102.1068,77.9501 102.1728,77.8071 C102.3918,77.3311 102.5998,76.8581 102.7998,76.3861 C102.6868,76.6491 102.5628,76.9061 102.4458,77.1671 C102.6928,76.6171 102.9328,76.0561 103.1658,75.4841 C103.1268,75.5801 103.0908,75.6781 103.0508,75.7741 C103.1308,75.5791 103.2148,75.3831 103.2918,75.1891 C103.2518,75.2891 103.2058,75.3841 103.1658,75.4841 C103.5718,74.4801 103.9458,73.4611 104.2908,72.4281 C104.2768,72.4691 104.2648,72.5091 104.2518,72.5501 C104.3248,72.3321 104.4098,72.1291 104.4798,71.9091 C104.5128,71.8061 104.5398,71.7061 104.5688,71.6051 C104.9138,70.5121 105.2148,69.4001 105.4868,68.2771 C105.4768,68.3171 105.4698,68.3561 105.4608,68.3951 C105.4718,68.3481 105.4808,68.3021 105.4918,68.2541 C105.4948,68.2441 105.4958,68.2341 105.4988,68.2241 C105.7138,67.3351 105.8888,66.4631 106.0518,65.5971 C106.0488,65.6111 106.0468,65.6251 106.0438,65.6391 C106.0668,65.5131 106.0988,65.3901 106.1218,65.2631 C106.1018,65.3731 106.0718,65.4871 106.0518,65.5971 C106.0988,65.3411 106.1428,65.0871 106.1858,64.8341 C106.3118,64.1001 106.4248,63.3631 106.5188,62.6191 C106.6268,61.7781 106.7188,60.9501 106.7828,60.1541 C106.7828,60.1561 106.7818,60.1581 106.7818,60.1601 Z")

mixin rouble()
	svg(viewBox="0 0 110 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
		//- defs
		//- 	linearGradient#linearGradient(x1="0%" y1="50%" x2="100%" y2="50%")
		//- 		stop(stop-color="#7A3183" offset="0%")
		//- 		stop(stop-color="#0E6FC9" offset="100%")
		path(fill="url(#linearGradient)", d="M55.9732,-0.0003 C86.3332,-0.0003 110.9472,24.6117 110.9472,54.9727 C110.9472,85.3337 86.3332,109.9457 55.9732,109.9457 C25.6132,109.9457 0.9992,85.3337 0.9992,54.9727 C0.9992,24.6117 25.6132,-0.0003 55.9732,-0.0003 Z M55.9732,106.9647 C84.6872,106.9647 107.9642,83.6877 107.9642,54.9727 C107.9642,26.2587 84.6872,2.9817 55.9732,2.9817 C27.2592,2.9817 3.9822,26.2587 3.9822,54.9727 C3.9822,57.4037 4.1612,59.7927 4.4852,62.1347 C7.7042,59.0397 11.8652,55.3907 17.0112,51.6757 C30.3472,42.0527 38.1422,40.7677 45.7832,31.7187 C49.5642,27.2407 51.8032,22.6417 53.1852,18.9757 C53.4332,18.7537 54.4522,17.8977 56.0062,17.8827 C57.4942,17.8697 58.4982,18.6387 58.7652,18.8577 C69.5562,29.3607 80.3482,39.8627 91.1392,50.3657 C91.3052,50.4967 92.3582,51.3597 92.4392,52.8507 C92.5072,54.1237 91.8232,54.9977 91.6562,55.1987 C90.3742,59.4157 88.6722,62.6627 87.1092,65.0837 C77.3392,80.2137 62.1652,79.9027 47.4482,95.5247 C44.2342,98.9347 41.9242,102.1697 40.3742,104.5797 C45.2992,106.1267 50.5372,106.9647 55.9732,106.9647 Z M45.5039,76.185 L47.3859,78.069 L44.2469,81.206 L42.3299,79.288 L42.1329,79.481 L42.1049,79.453 C41.4769,80.082 40.8489,80.71 40.2199,81.339 C39.4299,82.092 38.1769,82.031 37.4939,81.265 C36.8609,80.555 36.8769,79.419 37.5739,78.692 L39.6779,76.635 L37.0159,73.971 C36.3219,74.665 35.6289,75.359 34.9339,76.053 C34.1439,76.806 32.8909,76.745 32.2079,75.979 C31.5749,75.269 31.5899,74.133 32.2879,73.406 L34.3939,71.347 L25.0559,62.003 L30.5869,56.477 C32.9859,54.079 35.2729,52.774 37.4479,52.56 C39.6239,52.347 41.6649,53.194 43.5729,55.103 C45.5769,57.108 46.4559,59.301 46.2099,61.682 C45.9639,64.063 44.6289,66.465 42.2029,68.889 L40.2059,70.884 L42.8519,73.532 L42.8539,73.53 L42.8819,73.557 C43.5089,72.929 44.1379,72.301 44.7659,71.673 C45.5559,70.919 46.8099,70.98 47.4929,71.746 C48.1269,72.456 48.1109,73.592 47.4129,74.319 L45.5039,76.185 Z M39.2359,66.577 C40.8469,64.967 41.7499,63.506 41.9419,62.193 C42.1349,60.88 41.6359,59.628 40.4469,58.437 C39.3439,57.333 38.1839,56.848 36.9669,56.978 C35.7509,57.109 34.4279,57.888 33.0019,59.314 L30.8209,61.493 L37.5679,68.244 L39.2359,66.577 Z M30.2422,100.1167 C32.5122,101.4137 34.8762,102.5657 37.3442,103.5127 C42.4922,95.7707 47.7852,90.7267 51.6702,87.5507 C64.8542,76.7737 75.8792,76.0067 84.3142,64.0197 C87.2982,59.7797 88.8542,55.7047 89.6912,53.0087 C78.8002,42.4517 67.9112,31.8957 57.0212,21.3397 C56.7782,20.9947 56.3692,20.8337 56.0082,20.9317 C55.6572,21.0267 55.4892,21.3297 55.4552,21.3917 C54.7382,23.3177 53.4842,26.2487 51.3712,29.4577 C44.1742,40.3967 34.6082,43.0197 21.0992,52.3257 C17.0602,55.1087 11.3692,59.3847 5.0452,65.4837 C7.8672,79.2257 16.1282,90.9627 27.4612,98.4127 C28.7722,96.5887 30.3052,94.6427 32.1252,92.6417 C34.4842,90.0477 36.8142,87.9107 38.9292,86.1737 C39.8272,85.5807 40.9762,85.8417 41.4522,86.5957 C41.8242,87.1847 41.7512,88.0237 41.2442,88.6397 C39.3182,90.0057 37.0332,91.8687 34.7302,94.3457 C32.8412,96.3787 31.3842,98.3547 30.2422,100.1167 Z M48.4156,48.1131 C47.5186,48.7051 46.3686,48.4451 45.8936,47.6911 C45.5206,47.1021 45.5936,46.2631 46.1016,45.6471 C48.0266,44.2811 50.3116,42.4181 52.6136,39.9411 C54.8846,37.4981 56.5596,35.1171 57.7746,33.1181 C58.3086,32.5051 59.1976,32.3511 59.8826,32.7371 C60.6126,33.1501 60.9316,34.0771 60.5926,34.8791 C59.1446,36.9761 57.3716,39.2781 55.2196,41.6451 C52.8596,44.2381 50.5306,46.3761 48.4156,48.1131 Z")

mixin time-clock()
	svg(viewBox="0 0 116 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
		path(fill="url(#linearGradient)", d="M79.2168,57.7942 C80.0168,58.5942 80.0168,59.8912 79.2168,60.6912 C78.9378,60.9702 78.5968,61.1462 78.2388,61.2312 L78.2388,61.2372 C67.3838,63.7482 56.5288,66.2592 45.6728,68.7702 C45.6718,68.7692 45.6708,68.7672 45.6698,68.7662 C45.2198,68.8692 44.7538,68.9282 44.2738,68.9282 C40.8168,68.9282 38.0148,66.1262 38.0148,62.6692 C38.0148,62.2232 38.0638,61.7892 38.1528,61.3682 L38.1518,61.3682 C40.7138,50.2692 43.2758,39.1692 45.8378,28.0702 L45.8408,28.0702 C46.0448,27.1542 46.8598,26.4682 47.8368,26.4682 C48.8408,26.4682 49.6728,27.1932 49.8478,28.1472 C51.3048,36.4122 52.7608,44.6762 54.2178,52.9402 C62.1658,54.3652 70.1138,55.7912 78.0638,57.2162 L78.0638,57.2232 C78.4858,57.2842 78.8928,57.4702 79.2168,57.7942 Z M45.1348,65.8142 C54.4468,63.6582 63.7578,61.5032 73.0698,59.3472 C65.9298,58.0692 58.7898,56.7912 51.6508,55.5132 L47.7278,33.2772 C45.5308,42.7872 43.3348,52.2972 41.1388,61.8072 C41.1038,61.9312 40.6828,63.5472 41.7948,64.8292 C42.6068,65.7632 43.9078,66.1462 45.1348,65.8142 Z M55.0001,107.758 C80.8901,107.758 102.3511,88.822 106.3051,64.047 L109.4011,64.047 C105.4831,90.581 82.6231,110.946 55.0001,110.946 C24.6241,110.946 0.0001,86.321 0.0001,55.946 C0.0001,26.877 22.5561,3.091 51.1181,1.097 L51.1181,3.989 C24.2341,5.977 3.0351,28.402 3.0351,55.794 C3.0351,84.493 26.3011,107.758 55.0001,107.758 Z M115.1217,25.1422 C115.3987,25.2762 115.5787,25.5572 115.5907,25.8692 L109.9717,54.8082 C109.9617,54.8682 109.7997,55.7572 109.0347,56.0772 C108.3317,56.3702 107.4217,56.0592 106.9517,55.2782 C101.0947,47.4662 95.2377,39.6542 89.3797,31.8422 C89.3457,31.7812 89.1877,31.4862 89.2987,31.1862 C89.4307,30.8292 89.8927,30.5982 90.3967,30.7122 L101.1367,31.8792 C92.7867,15.8102 76.2917,4.6522 57.1187,3.8832 L57.1187,0.9992 C77.8097,1.7842 95.5617,14.0002 104.2677,31.5092 C107.5797,29.4282 110.8927,27.3482 114.2037,25.2672 C114.4607,25.0462 114.8237,24.9972 115.1217,25.1422 Z M107.6397,51.1452 L111.6227,30.4322 L103.9627,35.2122 L94.8937,34.1702 L107.6397,51.1452 Z")

mixin docs()
	svg(viewBox="0 0 110 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
		path(fill="url(#linearGradient)", d="M55.9734,0 C86.3334,0 110.9464,24.612 110.9464,54.973 C110.9464,85.334 86.3334,109.946 55.9734,109.946 C25.6124,109.946 0.9994,85.334 0.9994,54.973 C0.9994,24.612 25.6124,0 55.9734,0 Z M102.5064,78.16 C102.6734,77.829 102.8404,77.489 103.0074,77.138 C103.4554,76.188 103.8684,75.219 104.2604,74.239 L77.0614,81.528 C76.2374,81.682 75.4454,81.149 75.2794,80.37 C75.1254,79.646 75.5514,78.886 76.2844,78.63 C86.0174,76.022 95.7504,73.414 105.4834,70.806 C106.1194,68.818 106.6394,66.781 107.0344,64.698 C94.7934,67.672 82.5514,70.645 70.3104,73.619 C69.5474,73.805 68.7784,73.336 68.5944,72.574 L68.5564,72.42 C68.4644,72.038 68.5344,71.656 68.7244,71.346 C68.7244,71.345 68.9814,70.922 69.6024,70.704 C70.3274,70.448 85.9264,66.663 107.5454,61.478 C107.7974,59.469 107.9394,57.426 107.9534,55.351 C107.8524,55.404 107.7454,55.449 107.6294,55.476 L64.7834,65.59 C64.0204,65.77 63.2544,65.297 63.0744,64.533 L63.0384,64.379 C62.8584,63.615 63.3304,62.85 64.0944,62.67 L106.9404,52.556 C107.2754,52.477 107.6074,52.53 107.8934,52.671 C107.7354,49.092 107.2344,45.601 106.3894,42.245 L88.2294,25.42 L33.7324,34.994 L72.3444,90.798 C81.5364,88.1 90.7304,85.403 99.9224,82.706 C100.6094,81.631 101.3944,80.306 102.1994,78.759 C102.3024,78.559 102.4054,78.361 102.5064,78.16 Z M88.8843,31.0794 C89.0243,31.8514 88.5113,32.5914 87.7393,32.7304 L44.4223,40.5844 C43.6513,40.7244 42.9113,40.2114 42.7713,39.4394 L42.7423,39.2834 C42.6033,38.5114 43.1153,37.7724 43.8873,37.6324 L87.2043,29.7794 C87.9763,29.6394 88.7163,30.1514 88.8563,30.9234 L88.8843,31.0794 Z M61.3934,106.667 C75.9864,105.153 88.7864,97.613 97.2544,86.565 C89.4294,88.853 81.6044,91.142 73.7784,93.431 C73.5514,93.533 72.5154,93.967 71.3064,93.542 C70.2984,93.188 69.7764,92.451 69.6174,92.207 C68.8414,91.088 68.0664,89.97 67.2894,88.85 C66.2524,89.129 65.2154,89.407 64.1784,89.684 C63.3554,89.839 62.5634,89.306 62.3974,88.527 C62.2424,87.803 62.6684,87.043 63.4024,86.787 C64.0924,86.601 64.7824,86.417 65.4734,86.232 C64.2044,84.403 62.9364,82.574 61.6674,80.745 C60.2544,81.089 58.8404,81.432 57.4264,81.775 C56.6004,81.911 55.8204,81.359 55.6734,80.577 C55.5354,79.848 55.9794,79.099 56.7184,78.86 C57.7494,78.597 58.7804,78.333 59.8124,78.07 C58.5814,76.296 57.3524,74.523 56.1214,72.75 C54.7144,73.082 53.3084,73.414 51.9014,73.746 C51.1374,73.927 50.3714,73.453 50.1924,72.69 L50.1544,72.535 C50.0654,72.154 50.1384,71.771 50.3294,71.462 C50.5574,71.093 50.9404,70.928 51.2114,70.827 C52.0834,70.502 53.4804,70.218 54.2654,70.072 C52.9364,68.157 51.6074,66.241 50.2784,64.326 C48.8024,64.646 47.3244,64.968 45.8484,65.288 C45.0814,65.455 44.3244,64.969 44.1574,64.202 L44.1244,64.047 C44.0404,63.663 44.1204,63.283 44.3184,62.976 C44.5514,62.613 44.9374,62.452 45.2104,62.357 C45.7984,62.152 46.9214,61.881 48.4004,61.617 C47.0944,59.735 45.7884,57.852 44.4834,55.97 C42.3884,56.389 40.2944,56.807 38.1984,57.226 C37.4304,57.38 36.6814,56.88 36.5274,56.111 L36.4964,55.955 C36.4194,55.571 36.5064,55.191 36.7074,54.889 C36.9434,54.537 37.3234,54.376 37.6114,54.284 C38.2574,54.077 40.0824,53.686 42.6004,53.255 C41.2614,51.325 39.9224,49.394 38.5834,47.464 C36.2354,47.889 33.8874,48.315 31.5394,48.741 C31.4464,48.758 30.9494,48.838 30.4774,48.511 C30.1784,48.304 29.9584,47.982 29.8884,47.597 L29.8604,47.44 C29.7894,47.054 29.8834,46.677 30.0904,46.378 C30.3504,46.002 30.7534,45.863 31.0044,45.789 C31.8034,45.554 33.8704,45.156 36.6844,44.725 L29.7144,34.678 C29.6644,34.53 29.5074,34.004 29.7444,33.417 C30.0644,32.625 30.8364,32.383 30.9394,32.352 C49.9514,29.047 68.9644,25.743 87.9784,22.438 C88.2554,22.408 88.7124,22.393 89.2404,22.548 C89.8954,22.739 90.3304,23.092 90.5484,23.295 L104.6014,36.566 C97.1674,16.939 78.2044,2.981 55.9734,2.981 C27.2594,2.981 3.9824,26.259 3.9824,54.973 C3.9824,76.494 17.0594,94.961 35.6994,102.862 C26.7064,89.259 17.7144,75.655 8.7214,62.051 C8.4004,61.367 7.4124,59.1 8.3744,57.999 C8.7774,57.539 9.3714,57.462 9.6644,57.413 C12.2634,56.978 14.8604,56.544 17.4594,56.11 C17.8624,56.79 18.2664,57.469 18.6684,58.149 C15.9924,58.606 13.3164,59.064 10.6394,59.522 C20.5724,74.549 30.5064,89.575 40.4394,104.602 C45.3454,106.136 50.5624,106.965 55.9734,106.965 C56.6414,106.965 57.3004,106.931 57.9614,106.905 L52.5824,98.769 C51.5544,99.018 50.5264,99.268 49.4974,99.518 C48.6714,99.653 47.8924,99.101 47.7434,98.319 C47.6074,97.591 48.0504,96.842 48.7894,96.603 C49.4624,96.431 50.1364,96.259 50.8094,96.087 C49.6254,94.296 48.4414,92.505 47.2574,90.714 C46.1614,90.972 45.0674,91.23 43.9714,91.489 C43.2074,91.669 42.4434,91.196 42.2624,90.432 L42.2264,90.278 C42.1354,89.896 42.2084,89.514 42.4004,89.205 C42.6284,88.836 43.0104,88.671 43.2814,88.569 C43.8804,88.347 44.7294,88.142 45.4564,87.989 C44.1854,86.066 42.9144,84.144 41.6444,82.222 C40.4024,82.492 39.1604,82.762 37.9184,83.031 C37.1524,83.198 36.3954,82.711 36.2294,81.944 L36.1944,81.79 C36.1114,81.406 36.1924,81.025 36.3884,80.72 C36.6224,80.355 37.0074,80.195 37.2814,80.099 C37.7804,79.926 38.6694,79.703 39.8304,79.478 C38.5804,77.588 37.3314,75.698 36.0814,73.807 C34.1444,74.195 32.2074,74.581 30.2704,74.969 C29.5004,75.122 28.7524,74.623 28.5984,73.854 L28.5674,73.698 C28.4904,73.313 28.5764,72.934 28.7784,72.632 C29.0134,72.28 29.3954,72.119 29.6824,72.027 C30.2924,71.831 31.9644,71.471 34.2704,71.067 C32.9874,69.128 31.7054,67.188 30.4234,65.248 C28.1524,65.66 25.8814,66.072 23.6104,66.484 C23.5174,66.5 23.0204,66.581 22.5474,66.253 C22.2484,66.046 22.0284,65.725 21.9584,65.339 L21.9304,65.183 C21.8604,64.797 21.9534,64.419 22.1604,64.12 C22.4204,63.745 22.8244,63.605 23.0744,63.532 C23.8604,63.301 25.8644,62.913 28.6014,62.492 C25.2244,57.384 21.8484,52.276 18.4714,47.168 C18.1514,46.484 17.1624,44.218 18.1254,43.117 C18.5274,42.657 19.1214,42.579 19.4144,42.53 L27.2104,41.228 C27.6124,41.907 28.0164,42.587 28.4194,43.266 C25.7424,43.724 23.0664,44.181 20.3904,44.639 C34.0584,65.315 47.7254,85.991 61.3934,106.667 Z M102.8375,46.0941 C103.0035,46.8611 102.5175,47.6171 101.7505,47.7841 L58.7315,57.1321 C57.9645,57.2981 57.2075,56.8121 57.0415,56.0451 L57.0075,55.8901 C56.8415,55.1231 57.3275,54.3661 58.0945,54.2001 L101.1135,44.8521 C101.8805,44.6861 102.6375,45.1731 102.8035,45.9391 L102.8375,46.0941 Z M95.3668,38.7723 C95.5208,39.5423 95.0218,40.2903 94.2528,40.4433 L51.0828,49.0693 C50.3128,49.2233 49.5648,48.7243 49.4108,47.9543 L49.3798,47.7983 C49.2258,47.0293 49.7248,46.2813 50.4948,46.1273 L93.6648,37.5013 C94.4338,37.3483 95.1818,37.8473 95.3368,38.6163 L95.3668,38.7723 Z")

mixin electric-tower()
	svg(viewBox="0 0 110 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
		g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(id='Homepage-(1440)', transform='translate(-279.000000, -1971.000000)', fill="url(#linearGradient)")
				g#Employment(transform='translate(0.000000, 1523.000000)')
					g#Columns(transform='translate(164.000000, 447.000000)')
						g#Col-1
							g#electrotower_icon(transform='translate(115.000000, 0.000000)')
								path(d='M54.9731,0.9993 C85.3341,0.9993 109.9461,25.6123 109.9461,55.9733 C109.9461,86.3333 85.3341,110.9463 54.9731,110.9463 C24.6121,110.9463 0.0001,86.3333 0.0001,55.9733 C0.0001,25.6123 24.6121,0.9993 54.9731,0.9993 Z M54.9731,108.0203 C83.7181,108.0203 107.0211,84.7183 107.0211,55.9733 C107.0211,27.2283 83.7181,3.9253 54.9731,3.9253 C26.2281,3.9253 2.9261,27.2283 2.9261,55.9733 C2.9261,84.7183 26.2281,108.0203 54.9731,108.0203 Z M46.0103,55.9446 L46.0103,59.0706 L53.4773,95.3356 L39.6263,95.3356 L38.7393,95.3356 L24.8883,95.3356 L32.3693,59.0706 L32.3693,55.8996 L21.0083,55.9726 L19.3413,54.3056 L32.3563,46.2566 L32.3563,39.0216 L23.1363,39.0216 L21.1503,36.7526 L32.7813,29.2346 L38.7393,16.6096 L39.6263,16.6096 L45.5843,29.2346 L57.2153,36.7526 L55.2293,39.0216 L46.0093,39.0216 L46.0093,46.2566 L59.0243,54.3056 L57.3573,55.9726 L46.0103,55.9446 Z M46.9643,78.5696 L45.8273,73.0376 L32.5473,73.0376 L31.4163,78.5696 L46.9643,78.5696 Z M49.7873,92.3806 L47.8463,82.8076 L32.4663,92.3806 L49.7873,92.3806 Z M30.7763,81.5696 L28.7993,91.1286 L44.1573,81.5696 L30.7763,81.5696 Z M27.2533,52.9526 L32.3693,52.9416 L32.3693,49.7786 L27.2533,52.9526 Z M27.8643,35.9886 L32.3693,35.9886 L32.3693,33.0636 C30.8683,34.0386 29.3663,35.0136 27.8643,35.9886 Z M34.3253,64.5056 L33.3843,68.7886 L40.0123,64.5056 L34.3253,64.5056 Z M35.3693,59.3616 L34.9243,61.5056 L43.4473,61.5056 L43.0103,59.3156 L43.0103,55.9726 L35.3693,55.9726 L35.3693,59.3616 Z M43.0103,49.8196 L38.0603,52.9726 L43.0103,52.9726 L43.0103,49.8196 Z M35.3693,47.4886 L35.3693,51.1256 L40.9963,47.4886 L35.3693,47.4886 Z M35.3693,44.4886 L43.0103,44.4886 L43.0103,38.9886 L35.3693,38.9886 L35.3693,44.4886 Z M43.0103,33.4396 L39.0063,35.9886 L43.0103,35.9886 L43.0103,33.4396 Z M35.3693,30.4886 L35.3693,34.7446 L41.9543,30.4886 L35.3693,30.4886 Z M39.1903,22.6816 C38.4333,24.2836 37.6773,25.8866 36.9213,27.4886 L41.4403,27.4886 C40.6903,25.8866 39.9403,24.2836 39.1903,22.6816 Z M45.1983,70.0376 L44.2653,65.4016 L36.9853,70.0376 L45.1983,70.0376 Z M46.0103,33.0636 L46.0103,35.9886 L50.5153,35.9886 C49.0133,35.0136 47.5123,34.0386 46.0103,33.0636 Z M46.0103,49.7786 L46.0103,52.9416 L51.1273,52.9526 L46.0103,49.7786 Z M80.6674,57.8616 L90.6054,64.0076 L89.3324,65.2796 C86.4444,65.2736 83.5564,65.2666 80.6684,65.2586 L80.6684,67.6456 L86.3694,95.3356 L75.7934,95.3356 L75.1164,95.3356 L64.5404,95.3356 C66.4444,86.1056 68.3494,76.8756 70.2524,67.6456 L70.2524,65.2246 L61.5784,65.2796 L60.3054,64.0076 L70.2424,57.8616 L70.2424,52.3376 L63.2024,52.3376 L61.6864,50.6046 L70.5674,44.8636 L75.1164,35.2246 L75.7934,35.2246 L80.3424,44.8636 L89.2244,50.6046 L87.7074,52.3376 L80.6674,52.3376 L80.6674,57.8616 Z M80.6684,62.9656 C81.9704,62.9686 83.2724,62.9716 84.5754,62.9746 C83.2724,62.1666 81.9704,61.3586 80.6684,60.5506 L80.6684,62.9656 Z M81.4874,86.5196 L72.1894,92.3336 L82.6874,92.3336 L81.4874,86.5196 Z M69.7464,84.8216 L68.4784,91.1156 L78.5444,84.8216 L69.7464,84.8216 Z M66.3454,62.9746 C67.6484,62.9716 68.9504,62.9686 70.2524,62.9656 L70.2524,60.5506 C68.9504,61.3586 67.6484,62.1666 66.3454,62.9746 Z M68.2804,49.6276 L70.2524,49.6276 L70.2524,48.2246 L68.2804,49.6276 Z M71.1394,78.3066 L70.3744,81.8216 L80.5084,81.8216 L79.8154,78.3066 L71.1394,78.3066 Z M72.4704,71.7916 L71.7524,75.3066 L79.1684,75.3066 L78.4484,71.7916 L72.4704,71.7916 Z M73.2524,67.9576 C73.1974,68.2356 73.1424,68.5136 73.0874,68.7916 L77.8284,68.7916 C77.7754,68.5266 77.7214,68.2606 77.6684,67.9946 L77.6684,65.2796 L73.2524,65.2796 L73.2524,67.9576 Z M73.2524,62.2796 L77.6684,62.2796 L77.6684,58.6736 L73.2524,58.6736 L73.2524,62.2796 Z M73.2524,55.6736 L77.6684,55.6736 L77.6684,52.3336 L73.2524,52.3336 L73.2524,55.6736 Z M73.2524,49.3336 L77.6684,49.3336 L77.6684,46.1766 L73.2524,46.1766 L73.2524,49.3336 Z M75.4604,41.4566 L74.6524,43.1766 L76.2334,43.1766 L75.4604,41.4566 Z M80.6684,48.2246 L80.6684,49.6276 L82.6404,49.6276 L80.6684,48.2246 Z')

mixin factory()
	svg(viewBox="0 0 110 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
		g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(id='Homepage-(1440)', transform='translate(-665.000000, -1971.000000)', fill="url(#linearGradient)")
				g#Employment(transform='translate(0.000000, 1523.000000)')
					g#Columns(transform='translate(164.000000, 447.000000)')
						g#Col-2(transform='translate(386.000000, 0.000000)')
							g#factory_icon(transform='translate(115.000000, 0.000000)')
								path(d='M54.9731,0.999 C85.3341,0.999 109.9461,25.612 109.9461,55.973 C109.9461,86.333 85.3341,110.946 54.9731,110.946 C24.6121,110.946 0.0001,86.333 0.0001,55.973 C0.0001,25.612 24.6121,0.999 54.9731,0.999 Z M54.9731,108.02 C83.7181,108.02 107.0211,84.718 107.0211,55.973 C107.0211,27.228 83.7181,3.925 54.9731,3.925 C26.2281,3.925 2.9261,27.228 2.9261,55.973 C2.9261,84.718 26.2281,108.02 54.9731,108.02 Z M40.7168,27.1402 C40.6618,26.3032 40.7008,24.9732 41.3728,23.6162 C42.5778,21.1792 45.0398,20.2272 46.2898,19.7642 C50.9078,18.0542 53.5308,20.1352 56.0418,18.2072 C57.4398,17.1332 57.9528,15.4702 58.1728,14.3552 C58.4248,15.2702 59.0298,17.9252 57.5988,20.0922 C56.5228,21.7222 54.8208,22.2782 52.8968,22.8762 C48.1618,24.3492 45.6168,22.9142 42.7658,24.9272 C41.7168,25.6672 41.0748,26.5582 40.7168,27.1402 Z M31.0161,24.9273 C29.9751,25.6673 29.3341,26.5393 28.9671,27.1403 C28.8941,26.4073 28.8651,25.0083 29.6231,23.6153 C30.9251,21.2253 33.6301,20.5423 34.1341,20.4253 C35.9491,20.0073 36.8741,20.5663 39.4471,19.8693 C40.1101,19.6913 40.6411,19.4933 40.9861,19.3553 C40.6741,19.9003 40.1341,20.6813 39.2391,21.3403 C38.9711,21.5383 38.6271,21.7573 37.2591,22.3223 C35.4341,23.0743 34.8321,23.1853 33.1721,23.8743 C32.0961,24.3223 31.5461,24.5513 31.0161,24.9273 Z M65.1152,45.9936 L65.1152,57.7606 L85.3992,45.9936 L85.3992,57.7606 L85.3992,89.0776 L24.5472,89.0776 L24.5472,57.7606 L44.8312,45.9936 L44.8312,57.7606 L65.1152,45.9936 Z M82.4292,51.2036 L62.1352,62.9506 L62.1352,51.2036 L41.7852,62.9506 L41.7852,51.2036 L27.5572,59.4756 L27.5572,86.1116 L82.4292,86.1116 L82.4292,51.2036 Z M36.4339,47.4601 C36.5899,41.4771 36.7459,35.4951 36.9019,29.5121 L44.6199,29.5121 C44.7349,33.8441 44.8499,38.1761 44.9649,42.5071 C42.1219,44.1591 39.2769,45.8091 36.4339,47.4601 Z M39.8169,32.5171 L39.5399,42.1681 L41.9189,40.7861 L41.7249,32.5171 L39.8169,32.5171 Z M32.9118,29.5125 C33.0858,36.0515 33.2588,42.5915 33.4328,49.1305 C30.4708,50.8535 27.5088,52.5775 24.5468,54.3005 L25.1938,29.5125 L32.9118,29.5125 Z M27.6758,48.9995 L30.3308,47.4605 L29.9708,32.5175 L28.0908,32.5175 L27.6758,48.9995 Z M63.973,75.392 L63.973,69.392 L75.973,69.392 L75.973,75.392 L63.973,75.392 Z M48.973,75.392 L48.973,69.392 L60.973,69.392 L60.973,75.392 L48.973,75.392 Z M33.973,75.392 L33.973,69.392 L45.973,69.392 L45.973,75.392 L33.973,75.392 Z')

mixin crane-builder()
	svg(viewBox="0 0 110 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
		g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(id='Homepage-(1440)', transform='translate(-1053.000000, -1971.000000)', fill="url(#linearGradient)")
				g#Employment(transform='translate(0.000000, 1523.000000)')
					g#Columns(transform='translate(164.000000, 447.000000)')
						g#Col-3(transform='translate(774.000000, 0.000000)')
							g#crane_icon(transform='translate(115.000000, 0.000000)')
								path(d='M54.973,0.9995 C85.334,0.9995 109.946,25.6115 109.946,55.9725 C109.946,86.3335 85.334,110.9455 54.973,110.9455 C24.612,110.9455 0,86.3335 0,55.9725 C0,25.6115 24.612,0.9995 54.973,0.9995 Z M54.973,108.0205 C83.718,108.0205 107.021,84.7175 107.021,55.9725 C107.021,27.2275 83.718,3.9255 54.973,3.9255 C26.228,3.9255 2.926,27.2275 2.926,55.9725 C2.926,84.7175 26.228,108.0205 54.973,108.0205 Z M43.2012,18.4722 L43.2012,31.3352 L85.7452,31.3352 L85.7452,40.7322 L85.7452,43.7322 L85.7452,43.7352 L79.4542,43.7352 L79.4542,62.8302 L82.4542,62.8302 L82.4542,74.8302 L80.8762,74.8302 C80.6182,75.3602 80.3242,76.1452 80.2552,77.1242 C80.0962,79.3932 81.2622,81.0582 81.6532,81.5722 C81.7772,81.8142 81.9562,82.2412 81.9882,82.7992 C82.0132,83.2402 81.9382,83.6022 81.8682,83.8392 C80.9482,85.6692 79.1292,86.8412 77.1872,86.8392 C74.8142,86.8362 72.6452,85.0802 72.0672,82.5692 C72.0152,82.3112 72.1572,82.0692 72.3672,82.0042 C72.5192,81.9572 72.6942,82.0092 72.8192,82.1332 C73.8292,83.9772 75.6782,84.7302 76.9682,84.1972 C77.6182,83.9282 78.3912,83.2212 78.3762,82.4502 C78.3492,81.1632 76.1222,79.5282 75.3992,78.9972 C75.3372,78.9512 75.1282,78.8032 74.9862,78.5312 C74.8782,78.3242 74.8512,78.1252 74.8432,78.0052 L74.8432,74.8302 L73.4542,74.8302 L73.4542,62.8302 L76.4542,62.8302 L76.4542,43.7352 L43.2012,43.7352 L43.2012,93.4722 L40.2012,93.4722 L27.2012,93.4722 L24.2012,93.4722 L24.2012,18.4722 L27.2012,18.4722 L40.2012,18.4722 L43.2012,18.4722 Z M49.8802,34.3462 L43.2012,34.3462 L43.2012,38.4652 L49.8802,34.3462 Z M59.0012,40.7322 L52.0462,36.4442 L45.1302,40.7322 L59.0012,40.7322 Z M72.1312,34.3462 L54.2152,34.3462 L63.2312,39.8342 L72.1312,34.3462 Z M79.6962,40.7322 L73.5792,36.9602 L67.3812,40.7322 L70.1642,40.7322 L79.6962,40.7322 Z M82.7262,34.3462 L74.9102,34.3462 L82.7262,39.1032 L82.7262,34.3462 Z M76.4442,71.8462 L79.4272,71.8462 L79.4272,65.7982 L76.4442,65.7982 L76.4442,71.8462 Z M40.2012,25.7462 L40.2012,21.4722 L33.2712,21.4722 L40.2012,25.7462 Z M40.2012,90.4722 L40.2012,85.8762 L32.7472,90.4722 L40.2012,90.4722 Z M27.2012,75.7952 L27.2012,90.3952 L39.0182,83.0812 L27.2012,75.7952 Z M40.1972,67.3382 L29.6992,73.8112 L40.1972,80.2842 L40.1972,67.3382 Z M27.1932,71.8442 L39.0272,64.5472 L27.1932,57.2492 L27.1932,71.8442 Z M40.1972,49.3382 L30.1382,55.5402 L40.1972,61.7432 L40.1972,49.3382 Z M27.1932,39.2492 L27.1932,53.8322 L39.0182,46.5402 L27.1932,39.2492 Z M40.1972,43.7352 L40.1962,43.7352 L40.1962,31.3382 L30.1382,37.5402 L40.1972,43.7432 L40.1972,43.7352 Z M27.1932,21.4722 L27.1932,35.8322 L39.0182,28.5402 L27.5552,21.4722 L27.2012,21.4722 L27.1932,21.4722 Z')
