doctype html
html.no-js(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title energomet
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		// Place favicon.ico in the root directory

		//- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		//- WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>

		//- link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic", rel="stylesheet")
		//- link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic", rel="stylesheet")
		// build:css styles/vendor.css
		// bower:css
		link(rel="stylesheet", href='/bower_components/lightslider/dist/css/lightslider.css')
		link(rel="stylesheet", href='styles/vendors/responsive-slider.css')
		link(rel="stylesheet", href="/bower_components/jquery-form-validator/form-validator/theme-default.css")
		// endbower
		// endbuild

		//- link(rel='stylesheet', href='styles/external-vendors.css')

		// build:css styles/main.css
		link(rel='stylesheet', href='styles/main.css')
		// endbuild

		// build:js scripts/vendor/modernizr.js
		script(src='/bower_components/modernizr/modernizr.js')
		// endbuild
	body
		// if lt IE 10
			| <p class="browserupgrade">Ваш браузер <strong>УСТАРЕЛ</strong>. Пожалуйста <a href="http://browsehappy.com/">обновите браузер</a> для комфортного просмотра сайта.</p>

		include _mixins

		.inner__background
			include _header-inner

			block content

		include _footer

		//- .footer
		//- 	p ♥ from the Yeoman team
		//- // Google Analytics: change UA-XXXXX-X to be your site's ID.
		//- script.
		//-   (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		//-   function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		//-   e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		//-   e.src='https://www.google-analytics.com/analytics.js';
		//-   r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		//-   ga('create','UA-XXXXX-X');ga('send','pageview');

		// build:js scripts/vendor.js
		// bower:js
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/modernizr/modernizr.js')
		// endbower
		// endbuild

		// build:js scripts/plugins.js
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
		script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
		script(src='/scripts/vendors/jquery.event.move.js')
		script(src='/scripts/vendors/responsive-slider.min.js')
		script(src='/bower_components/lightslider/dist/js/lightslider.min.js')
		script(src="/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js")
		script(src="/bower_components/jquery-form-validator/form-validator/jquery.form-validator.min.js")
		script(src="/bower_components/jquery-form-validator/form-validator/toggleDisabled.js")
		// endbuild

		// build:js scripts/main.js
		script(src='scripts/main.js')
		// endbuild

		block scripts