@import "meta/variables"


.download
	font-size: initial
	&_inner
		// height: 30rem
		padding-top: 4rem
		background: url(../images/elements/bg_slider.jpg) 0 0 no-repeat
		background-size: cover
		// background-color: rgba($light-indigo, .3)
		position: relative
		overflow: hidden
		.download
			&__layer
				position: static
				@media (min-width: $screen-sm-min)
					text-align: left
				@media (min-width: $screen-md-min)
					position: static
					// text-align: left

			&__image
				margin-bottom: -.1rem
				padding-top: 3rem

				@media (min-width: $screen-sm-min)
					padding-top: 2rem
				img
					max-height: 15rem
					@media (min-width: $screen-sm-min)
						max-height: initial
			&__title
				color: $white
				padding-top: 1em
				padding-bottom: 0.5em
				@media (min-width: $screen-sm-min)
					padding-top: 0
				h3
					font-size: 1em
					line-height: 1.35
					@media (min-width: $screen-sm-min)
						font-size: 1.375em
						text-align: left
					@media (min-width: $screen-md-min)
						font-size: 2.1em
			&__container
				position: absolute
				top: -4rem
				left: 0
				right: 0
				bottom: 0
				text-align: center
				@media (min-width: $screen-sm-min)
					position: static
					padding-left: 1rem
				@media (min-width: $screen-md-min)
					margin-top: 5rem
	&__layer
		position: absolute
		width: 100%
		text-align: center
		@media (min-width: $screen-sm-min)
			bottom: 10.25rem
			width: auto
			left: 0
			right: 0
		@media (min-width: $screen-md-min)
			bottom: 8em
		@media (min-width: $screen-lg-min)
			bottom: 12em
			left: initial
			right: initial

	&__item
		background-image: linear-gradient(to right, $pinky-purple, $deep-sky-blue)
		border-radius: 100px
		box-shadow: 0 2px 2px 0 rgba(black, .2)
		color: $white
		height: 4.5rem
		width: 25rem
		margin-top: 1.5rem
		@media (min-width: $screen-sm-min)
			margin-top: 1rem
			margin-right: 2.5rem
			// height: 5.5rem
			height: 4.9rem
		@media (min-width: $screen-lg-min)
			// display: block
			margin-top: 1rem
			&:first-child
				margin-top: 0