@import "meta/variables"

.product
	background-color: rgba($white, .95)
	background-image: linear-gradient(to top, rgba($white, .95), rgba(white, 0))
	color: $dark-slate-blue

	&__info
		margin-bottom: 4rem
		@media (min-width: $screen-sm-min)
			margin-top: 2rem
			margin-bottom: 6rem
		@media (min-width: $screen-lg-min)
			margin-top: 6rem
	&__image
		text-align: center
		padding: 3rem 4rem 2rem
		// margin-bottom: 3rem
		@media (min-width: $screen-sm-min)
			padding-top: 6rem
		@media (min-width: $screen-lg-min)
			padding-top: 3rem
		img
			max-width: 20rem
			@media (min-width: $screen-md-min)
				max-width: 90%
	&__preview
	&__title

	&__description
		// font-size: .75em
	&__button
		text-align: center
		button
			background-image: linear-gradient(to right, $pinky-purple, $deep-sky-blue)
			border-radius: 100px
			box-shadow: 0 2px 2px 0 rgba(black, .2)
			color: $white
			height: 4.5rem
			width: 25rem
			// margin-top: 1.5rem
			@media (min-width: $screen-sm-min)
				margin-top: 1rem
				margin-right: 2.5rem
				width: 28rem
				height: 4.9rem
	&__tabs
		text-align: center
		@media (min-width: $screen-sm-min)
			margin-bottom: 5rem
		ul
			border-radius: 3rem
			border: solid 1.5px $light-indigo
			display: inline-block
			white-space: nowrap
			li
				margin-bottom: 0
				border-radius: 3rem
				a
					border-radius: 3rem
					border: 1px solid transparent !important
					color: $dark-slate-blue !important
					height: 100%
					margin-right: 0 !important
					text-align: center
					width: 13.75rem
					// transition: color .2s ease, border-color .2s ease, background-color .2s ease
					@media (min-width: $screen-sm-min)
						width: 30rem
						line-height: 2.5rem
						font-size: .875em
					&:hover,
					&:focus
						background-color: transparent !important
				&.active
					a
						// border: 1px solid $light-indigo !important
						background-color: $light-indigo !important
						color: $white !important
	&__addition-info
		@media (min-width: $screen-md-min)
			margin-bottom: 3rem
		@media (min-width: $screen-lg-min)
			margin-bottom: 4rem
	&__content
		margin-bottom: 3rem
		ul
			li
				margin-bottom: .5rem
				@media (min-width: $screen-md-min)
					margin-bottom: .75rem

	h2
		font-size: 1em
		margin-bottom: 1rem
		@media (min-width: $screen-sm-min)
			font-size: 1.25em
		@media (min-width: $screen-lg-min)
			font-size: 1.5em
			margin-bottom: 3rem
	li,
	p
		color: $dark-slate-blue
		font-size: .75em
		margin-bottom: 1.5rem
		@media (min-width: $screen-sm-min)
			font-size: 1em
			margin-bottom: 2rem