.row
	.col-xs-8.col-md-12.clearfix.pull-right.contact-form__title
		h2 Остались вопросы? Напишите к нам
	.col-xs-12
		form.contact-form.toggle-disabled.clearfix(action="")
			.contact-form__name.col-xs-12.col-sm-12
				label(for="client-name") Ваше имя
				input#client-name.material.validate(type="text", name="client-name", data-validation-event="keyup", data-validation="required", data-validation-error-msg="Введите имя")
			.contact-form__phone.col-xs-12.col-sm-6
				label(for="client-phone") Телефон
				input#client-phone.material.validate.form-phone(type="text", name="client-phone", data-validation-event="keyup", data-validation="required length", data-validation-length="min11", data-validation-error-msg="Введите номер телефона для связи с вами")
			.contact-form__email.col-xs-12.col-sm-6
				label(for="client-email") Ваш email
				input#client-email.material.validate(type="email", name="client-email", data-validation="email", data-validation-error-msg="Введите email адрес")
			.contact-form__text.col-xs-12.col-sm-12
				label(for="client-text") Ваш комментарий
				textarea#client-text.material.validate(type="text", name="client-text", data-validation-event="keyup", data-validation="required length", data-validation-length="min1", data-validation-error-msg="Введите текст")

			.contact-form__button.col-xs-12.pull-right
				//- button.btn.btn-default(type='button', data-dismiss='modal') Close
				button(type='button')
				|Отправить
				span.glyphicon.glyphicon-send