@import "meta/variables"

.footer
	background-color: $dark-slate-blue-two
	padding: 4rem 2rem 2rem
	&__item
		text-align: center
		margin-bottom: 2rem
		@media (min-width: $screen-sm-min)
			margin-bottom: 2rem
		@media (min-width: $screen-md-min)
			margin-bottom: 4rem
	&__logo
		@media (min-width: $screen-sm-min)
			margin-bottom: 2rem
		@media (min-width: $screen-md-min)
			margin-bottom: 4rem
	&__bottom-menu

	&__copyright
		color: #f5f5f5
		opacity: .6
		font-size: 12px
		font-weight: normal

.bottom-menu
	list-style: none
	padding-left: 0
	font-size: 0
	max-width: 650px
	margin: auto
	&__item
		display: inline-block
		font-size: 14px
		text-align: center
		width: (100% / 4)
		a
			color: #f5f5f5