section.products.row.wrapper
	.products__title.col-xs-12
		h2 Продукция
	.products__area.col-xs-12
		.products__item.col-xs-6
			.products__image.vcenter
				.products__image-wrapper
					.products__image_circle
						img(src="images/slider/upper-layer-image.png", alt="")
					.products__shadow

			.products__description.col-xs-6.vcenter Кабельные крепления

		.products__item.col-xs-6
			.products__image.vcenter
				.products__image-wrapper
					.products__image_circle
						img(src="images/slider/upper-layer-image.png", alt="")
					.products__shadow
			.products__description.col-xs-6.vcenter Несущие конструкции